<!-- Modal: Crear / Editar compras -->
<app-modal [showModal]="showModalCompra">
    <div (keyup.enter)="estadoFormulario === 'crear' ? nuevaCompra() : actualizarCompra()">
        <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
            <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Nueva compra' :
                'Editando compra' }} </h1>
            <svg (click)="showModalCompra = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="cursor-pointer feather feather-x text-white mr-2">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </div>
        <div class="p-4 text-sm max-h-96 overflow-auto">
            <div class="flex items-center">
                <div class="w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Fecha de compra </p>
                    <input [(ngModel)]="compra.fecha_compra"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        type="date">
                </div>
                <div class="w-1/2 ml-4">
                    <p class="font-semibold"> Número de factura </p>
                    <input [(ngModel)]="compra.numero_factura"
                        (keyup.enter)="estadoFormulario == 'crear' ? nuevaCompra() : actualizarCompra()"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. 000000210" type="text">
                </div>
            </div>
            <div class="mt-4">
                <p class="font-semibold"> Comentarios </p>
                <input [(ngModel)]="compra.comentarios"
                    (keyup.enter)="estadoFormulario == 'crear' ? nuevaCompra() : actualizarCompra()"
                    class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                    placeholder="Ej. Cometarios opcionales" type="text">
            </div>
            <div *ngIf="compraSeleccionada && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
                <div class="xl:w-1/2">
                    <p class="font-semibold text-sm"> Fecha de alta </p>
                    <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ compraSeleccionada.createdAt | fecha }}
                    </div>
                </div>
                <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                    <p class="font-semibold text-sm"> Usuario creador </p>
                    <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ compraSeleccionada.creatorUser.apellido.toLowerCase() }} {{
                        compraSeleccionada.creatorUser.nombre.toLowerCase() }}
                    </div>
                </div>
            </div>
            <div *ngIf="compraSeleccionada && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
                <div class="xl:w-1/2">
                    <p class="font-semibold text-sm"> Ultima actualización </p>
                    <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ compraSeleccionada.updatedAt | fecha }}
                    </div>
                </div>
                <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                    <p class="font-semibold text-sm"> Usuario ultima actualización </p>
                    <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ compraSeleccionada.updatorUser.apellido.toLowerCase() }} {{
                        compraSeleccionada.updatorUser.nombre.toLowerCase() }}
                    </div>
                </div>
            </div>
        </div>
        <div class="px-2 pb-2">
            <button *ngIf="estadoFormulario == 'crear'" (click)="nuevaCompra()"
                class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4">
                Crear compra </button>
            <button *ngIf="estadoFormulario == 'editar'" (click)="actualizarCompra()"
                class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4">
                Actualizar compra </button>
        </div>
    </div>
</app-modal>

<!-- Listado de compras -->
<div class="md:max-w-7xl mx-auto">
    <app-tarjeta-lista>
        <div class="container mx-auto">
            <div>
                <div class="flex items-center justify-between bg-primary-800 px-4 py-3 rounded-t">
                    <div class="ml-2 text-white">
                        <h2 class="text-2xl leading-tight">
                            Listado de compras
                        </h2>
                        <p> Total de compras: {{ compras.length }} </p>
                    </div>
                    <div *ngIf="permisos.all">
                        <button title="Nueva compra" (click)="abrirModal('crear')"
                            class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="md:flex md:items-center md:justify-between px-4 py-2">
                    <div class="my-2 flex sm:flex-row flex-col">
                        <div class="flex flex-row mb-1 sm:mb-0">
                            <div class="relative">
                                <select #txtEstado (change)="filtrarEstados(txtEstado.value)"
                                    class="h-full text-sm rounded-r border-t border-l rounded-l sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                    <option value='Pendiente'> Pendientes </option>
                                    <option value='Completada'> Completadas </option>
                                    <option value='Todas'> Todas </option>
                                </select>
                                <div
                                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                    <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
                                        <path
                                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="block relative">
                            <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                                <svg viewBox="0 0 24 24"
                                    class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                                    <path
                                        d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                    </path>
                                </svg>
                            </span>
                            <input #txtParametro placeholder="Buscar" (keyup)="filtrarParametro(txtParametro.value)"
                                class="appearance-none rounded-r sm:rounded-l-none rounded-l border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                        </div>
                        <!-- <select (change)="paginaActual = 1" class="bg-white text-sm focus:outline-none w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="cantidadItems">
                          <option value="10"> 10 elementos </option>
                          <option value="20"> 20 elementos </option>
                          <option value="50"> 50 elementos </option>
                          <option value="100"> 100 elementos </option>
                      </select> -->
                    </div>
                </div>
                <div class="px-4 py-2 overflow-x-auto">
                    <div class="inline-block max-h-96 overflow-y-auto min-w-full overflow-hidden pb-5">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr class="border">
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('numero')"
                                            class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Número de compra </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'numero' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'numero' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'numero'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('fecha_compra')"
                                            class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                            <span>
                                                Fecha de compra
                                            </span>
                                            <span class="ml-2">
                                                <svg *ngIf="ordenar.columna == 'fecha_compra' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'fecha_compra' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'fecha_compra'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('numero_factura')"
                                            class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Número factura </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'numero_factura' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'numero_factura' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'numero_factura'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('activo')"
                                            class="cursor-pointer flex items-center focus:outline-none">
                                            <span>
                                                Estado
                                            </span>
                                            <span class="ml-2">
                                                <svg *ngIf="ordenar.columna == 'estado' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'estado' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'estado'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th 
                                        class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="compras">
                                <tr class="animate__animated animate__fadeIn"
                                    *ngFor="let compra of compras | filtroCompras:filtro.parametro:filtro.estado">
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ compra.numero.toString().padStart(8, '0') }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ compra.fecha_compra | fecha }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ compra.numero_factura ? compra.numero_factura : 'Sin especificar' }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <span
                                            [ngClass]="{'text-green-700 bg-green-100 border-green-400':compra.estado === 'Completada', 'text-yellow-600 bg-yellow-100 border-yellow-400':compra.estado === 'Pendiente' }"
                                            class="font-semibold p-2 rounded border">
                                            {{ compra.estado }}
                                        </span>
                                    </td>
                                    <td 
                                        class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                                        <span class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                                            <app-boton-tabla *ngIf="permisos.all" (click)="abrirModal('editar', compra)"
                                                title="Editar compra">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                                  </svg>
                                                  
                                            </app-boton-tabla>
                                            <app-boton-tabla [routerLink]="['/dashboard/compras/detalles',compra._id]"
                                                class="ml-2" title="Detalles de compra">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                </svg>
                                            </app-boton-tabla>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="compras.length > cantidadItems" class="px-5 py-5 mt-4 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
              <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="paginaActual = $event"></pagination-controls>
          </div> -->
        </div>
    </app-tarjeta-lista>
</div>