<!-- Modal: Importar productos -->
<app-modal [showModal]="showModalImportarProductos">
    <div class="bg-primary-800 px-3 py-2 rounded-t flex items-center justify-between">
        <h1 class="text-white text-xl"> Importando fichas </h1>
        <button (click)="showModalImportarProductos = false" class="text-white focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>
    <div class="p-2">
        <p class="text-sm text-gray-500"> <span class="text-red-500"> * </span> El archivo seleccionado debe ser un
            excel </p>
        <input [(ngModel)]="file" (change)="capturarArchivo($event)" type="file" class="mt-2 text-sm">
        <button (click)="importarProductos()"
            class="bg-secondaryColor focus:outline-none text-sm mt-3 text-white p-2 rounded w-full shadow">
            Importar fichas
        </button>
    </div>
</app-modal>

<!-- Modal: Crear / Editar producto -->
<app-modal [showModal]="showModalProducto">
    <div>
        <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
            <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Creando producto' :
                'Editando producto' }} </h1>
            <svg (click)="showModalProducto = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="cursor-pointer feather feather-x text-white mr-2">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </div>
        <div class="p-4 text-sm max-h-96 overflow-auto">
            <div class="md:flex items-center">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Descripción </p>
                    <input (keyup.enter)="estadoFormulario === 'crear' ? nuevoProducto() : actualizarProducto()"
                        [(ngModel)]="productoForm.descripcion"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. Pan" type="text">
                </div>
                <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Balanza </p>
                    <select (change)="adaptacionCodigo('balanza')" [(ngModel)]="productoForm.balanza"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                        <option value="false"> No </option>
                        <option value="true"> Si </option>
                    </select>
                </div>
            </div>
            <div class="md:flex md:items-center mt-4">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Unidad de medida </p>
                    <select *ngIf="productoForm.balanza === 'false'" [(ngModel)]="productoForm.unidad_medida"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                        <option *ngFor="let unidad of unidades" [value]="unidad._id"> {{ unidad.descripcion }} </option>
                    </select>
                    <div *ngIf="productoForm.balanza === 'true'"
                        class="py-2 px-2 mt-1 bg-gray-100 border-b-2 border-gray-300 tranform duration-500 outline-none w-full text-gray-800">
                        KILOGRAMO
                    </div>
                </div>
                <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                    <p class="font-semibold"> Código </p>
                    <input (keyup.enter)="adaptacionCodigo('codigo')" [(ngModel)]="productoForm.codigo"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. 24545" type="text">
                </div>
            </div>
            <div class="md:flex md:items-center mt-4">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Precio </p>
                    <input (keyup.enter)="estadoFormulario === 'crear' ? nuevoProducto() : actualizarProducto()"
                        [(ngModel)]="productoForm.precio"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. 1800" type="number">
                </div>
                <div class="md:w-1/2 md:ml-4 mt-4 md:mt-0">
                    <p class="font-semibold"> Precio mayorista </p>
                    <input (keyup.enter)="estadoFormulario === 'crear' ? nuevoProducto() : actualizarProducto()"
                        [(ngModel)]="productoForm.precio_mayorista"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. 1500" type="number">
                </div>
            </div>
            <!-- Alicuota -->
            <div class="md:flex md:items-center mt-4">
                <div class="md:w-1/2">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Cantidad </p>
                    <input (keyup.enter)="estadoFormulario === 'crear' ? nuevoProducto() : actualizarProducto()"
                        [(ngModel)]="productoForm.cantidad"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800"
                        placeholder="Ej. 10" type="number">
                </div>
                <div class="md:w-1/2 md:ml-4">
                    <p class="font-semibold"> <span class="text-red-500"> * </span> Alicuota </p>
                    <select [(ngModel)]="productoForm.alicuota"
                        class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">
                        <option id="21"> 21 </option>
                        <option id="10.5"> 10.5 </option>
                    </select>
                </div>
            </div>
            <div *ngIf="productoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
                <div class="xl:w-1/2">
                    <p class="font-semibold text-sm"> Fecha de alta </p>
                    <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ productoSeleccionado.createdAt | fecha }}
                    </div>
                </div>
                <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                    <p class="font-semibold text-sm"> Usuario creador </p>
                    <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ productoSeleccionado.creatorUser.apellido.toLowerCase() }} {{
                        productoSeleccionado.creatorUser.nombre.toLowerCase() }}
                    </div>
                </div>
            </div>
            <div *ngIf="productoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
                <div class="xl:w-1/2">
                    <p class="font-semibold text-sm"> Ultima actualización </p>
                    <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ productoSeleccionado.updatedAt | fecha }}
                    </div>
                </div>
                <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                    <p class="font-semibold text-sm"> Usuario ultima actualización </p>
                    <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                        {{ productoSeleccionado.updatorUser.apellido.toLowerCase() }} {{
                        productoSeleccionado.updatorUser.nombre.toLowerCase() }}
                    </div>
                </div>
            </div>
        </div>

        <div class="px-4 pb-2 text-sm">
            <button *ngIf="estadoFormulario == 'crear'" (click)="nuevoProducto()"
                class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4 md:mt-0">
                Crear producto </button>
            <button *ngIf="estadoFormulario == 'editar'" (click)="actualizarProducto()"
                class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4">
                Actualizar producto </button>
        </div>
    </div>
</app-modal>

<!-- Listado de productos -->
<div class="mx-auto">
    <app-tarjeta-lista>
        <div class="container mx-auto">
            <div>
                <div class="flex items-center justify-between bg-primary-800 px-4 py-3 rounded-t">
                    <div class="ml-2 text-white">
                        <h2 class="text-xl md:text-2xl leading-tight">
                            Listado de productos
                        </h2>
                        <p> Total de productos: {{ productos.length }} </p>
                    </div>
                    <div *ngIf="permisos.all">
                        <!-- <button *ngIf="authService.usuario.role === 'ADMIN_ROLE'" title="Importar productos"
                            (click)="abrirImportarProductos()"
                            class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                            </svg>
                        </button> -->
                        <!-- <button *ngIf="authService.usuario.usuario === 'lmoreno'" title="Inicializar productos"
                            (click)="copiarProductos()"
                            class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
                            </svg>
                        </button> -->
                        <button *ngIf="authService.usuario.role === 'ADMIN_ROLE' && SUCURSAL !== 'SUCURSAL ARISTOBULO'" title="Sincronizar productos"
                            (click)="sincronizarProductos()"
                            class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                            </svg>
                        </button>
                        <button title="Nuevo producto" (click)="abrirModal('crear')"
                            class="p-2 border md:mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="md:flex md:items-center md:justify-between px-4 py-2">
                    <div class="my-2 flex sm:flex-row flex-col">
                        <div class="flex flex-row mb-1 sm:mb-0">
                            <div class="relative">
                                <select #txtActivo (change)="filtrarActivos(txtActivo.value)"
                                    class="h-full text-sm rounded-r border-t border-l rounded-l sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                    <option value='true'> Activos </option>
                                    <option value='false'> Inactivos </option>
                                    <option value=''> Todos </option>
                                </select>
                                <div
                                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                    <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
                                        <path
                                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="block relative">
                            <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                                <svg viewBox="0 0 24 24"
                                    class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                                    <path
                                        d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                    </path>
                                </svg>
                            </span>
                            <input #txtParametro placeholder="Buscar" (keyup)="filtrarParametro(txtParametro.value)"
                                class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                        </div>
                        <!-- <select (change)="paginaActual = 1" class="bg-white text-sm focus:outline-none w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="cantidadItems">
                          <option value="10"> 10 elementos </option>
                          <option value="20"> 20 elementos </option>
                          <option value="50"> 50 elementos </option>
                          <option value="100"> 100 elementos </option>
                      </select> -->
                    </div>
                </div>
                <div class="px-4 py-2 overflow-x-auto">
                    <div class="inline-block max-h-96 overflow-y-auto min-w-full overflow-hidden pb-5">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr class="border">
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('codigo')"
                                            class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Código </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'codigo' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'codigo' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'codigo'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('balanza')"
                                            class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Tipo </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'balanza' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'balanza' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'balanza'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('descripcion')"
                                            class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Descripción </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'descripcion' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'descripcion' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'descripcion'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('unidad_medida.descripcion')"
                                            class="cursor-pointer w-max flex items-center focus:outline-none">
                                            <span> Unidad de medida </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'unidad_medida.descripcion' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'unidad_medida.descripcion' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'unidad_medida.descripcion'" width="15"
                                                    height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('alicuota')"
                                            class="cursor-pointer w-max flex items-center focus:outline-none">
                                            <span> Alicuota (%) </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'alicuota' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'alicuota' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'alicuota'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('cantidad')"
                                            class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Cantidad </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'cantidad' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'cantidad' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'cantidad'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('precio')"
                                            class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Precio </span>
                                            <span class="ml-2 text-gray-600">
                                                <svg *ngIf="ordenar.columna == 'precio' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'precio' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'precio'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th
                                        class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('activo')"
                                            class="cursor-pointer flex items-center focus:outline-none">
                                            <span>
                                                Estado
                                            </span>
                                            <span class="ml-2">
                                                <svg *ngIf="ordenar.columna == 'activo' && ordenar.direccion == 1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna == 'activo' && ordenar.direccion == -1"
                                                    width="15" height="15" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                                <svg *ngIf="ordenar.columna != 'activo'" width="15" height="15"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-minus">
                                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th *ngIf="permisos.all"
                                        class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                        Acción
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="productos">
                                <tr class="animate__animated animate__fadeIn"
                                    *ngFor="let producto of productos | filtroProductos:filtro.parametro:filtro.activo">
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ producto.codigo.trim() === '' ? 'Sin código' : producto.codigo }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ producto.balanza ? 'Balanza' : 'Normal' }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ producto.descripcion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap w-max">
                                            {{ producto.unidad_medida.descripcion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap w-max">
                                            {{ producto.alicuota ? producto.alicuota : 21 }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p [ngClass]="{'text-red-600 font-semibold':producto.cantidad < 0}"
                                            class="text-gray-900 whitespace-no-wrap">
                                            {{ producto.cantidad ? producto.cantidad : 0 }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            ${{ producto.precio | moneda }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <app-pastilla-estado [activo]=producto.activo
                                            (click)="actualizarEstado(producto)"></app-pastilla-estado>
                                    </td>
                                    <td *ngIf="permisos.all"
                                        class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                                        <p class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                                            <app-boton-tabla (click)="abrirModal('editar', producto)"
                                                title="Editar producto">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </app-boton-tabla>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div *ngIf="productos.length > cantidadItems" class="px-5 py-5 mt-4 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
              <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="paginaActual = $event"></pagination-controls>
          </div> -->
        </div>
    </app-tarjeta-lista>
</div>
