<!-- Modal: Saldo inicial -->
<app-modal-small [showModal]="showModalSaldoInicial">
  <div class="text-sm">
    <div class="bg-primary-800 text-white flex items-center justify-between p-2 rounded-t">
      <h1> Actualizando saldo </h1>
      <button (click)="showModalSaldoInicial = false" class="focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>  
      </button>
    </div>
    <div class="p-2">
      <p class="font-semibold"> Saldo inicial de caja </p>
      <input (keyup.enter)="actualizarSaldoInicial()" [(ngModel)]="nuevoSaldo" type="number" class="border mt-2 focus:outline-none border-gray-300 w-full p-2 rounded" placeholder="Ej. 3000">
      <button (click)="actualizarSaldoInicial()" class="w-full bg-secondaryColor focus:outline-none text-white p-2 shadow rounded mt-2">
        Acutalizar saldo
      </button>
    </div>
  </div>  
</app-modal-small>

<!-- Modal: Ingresos/Gastos -->
<app-modal [showModal]="showModalIngresosGastos">
  <div class="text-sm">
    <div class="p-2 bg-primary-800 text-white flex items-center text-lg justify-between">
      <h1> Creando nuevo elemento </h1>
      <button (click)="showModalIngresosGastos = !showModalIngresosGastos" class="text-white focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="p-2">
      <div class="md:flex items-center">
        <div class="md:w-1/2">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Tipo de elemento </p>
          <select [(ngModel)]="formIngresosGastos.tipo" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 px-2 focus:border-secondaryColor outline-none w-full text-gray-800">
            <option value="ingreso"> Ingreso </option>
            <option value="gasto"> Gasto </option>
          </select>
        </div>
        <div class="mt-2 md:mt-0 md:w-1/2 md:ml-2">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Monto </p>
          <input (keyup.enter)="nuevoIngresoGasto()" [(ngModel)]="formIngresosGastos.monto" type="number" placeholder="Ej. 2000" class="py-2 px-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
        </div>
      </div>
      <div class="mt-2">
        <p class="font-semibold"> <span class="text-red-500"> * </span> Descripción </p>
        <input
          (keyup.enter)="nuevoIngresoGasto()" 
          [(ngModel)]="formIngresosGastos.descripcion" 
          type="text" 
          class="py-2 px-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" 
          [placeholder]="formIngresosGastos.tipo === 'ingreso' ? 'Ej. Cobro atrasado' : 'Ej. Pago a proveedor'"
        />
      </div>
      <button (click)="nuevoIngresoGasto()" class="bg-secondaryColor text-white w-full rounded border border-gray-300 p-2 mt-4 shadow focus:outline-none">
        Crear elemento
      </button>
    </div>
  </div>
</app-modal>

<div class="p-2 pb-10 md:flex max-w-5xl mx-auto text-sm gsap-contenido">

  <!-- Cierre de caja -->
  <div class="md:w-1/2 border borde-gray-300 rounded-t h-full">
    <div class="bg-primary-800 flex items-center justify-between p-3 rounded-t">
      <h1 class="rounded-t text-lg text-white"> Datos de caja </h1>
      <button *ngIf="authService.usuario.role === 'ADMIN_ROLE'" routerLink="/dashboard/caja/historial" title="Historial de cajas" class="bg-white p-2 focus:outline-none border border-primary-400 rounded hover:text-secondaryColor">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
        </svg>
      </button>
    </div>
    <div class="p-2 mt-2">
      <div class="text-center">
        <p class="font-semibold"> Saldo inicial de caja </p>
        <div class="flex items-center justify-center">
          <div class="border border-gray-400 shadow w-max p-2 rounded mt-2">
              ${{ saldoInicial | moneda }}
          </div>
          <button *ngIf="authService.usuario.role === 'ADMIN_ROLE'" (click)="abrirModalSaldoInicial()" title="Actualizar saldo inicial de caja" class="w-max border focus:outline-none hover:text-secondaryColor border-gray-400 shadow p-2 rounded ml-2 mt-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
            </svg>          
          </button>
        </div>
        <div class="mt-2">
          <div class="flex items-center bg-gray-100 rounded border font-semibold border-gray-400 justify-between p-2">
            <p class="flex items-center">  
              <span class="ml-1"> Cantidad de ventas </span>       
            </p>
            <p> {{ cantidad_ventas }} </p>
          </div>
          <div class="flex items-center justify-between p-2">
            <p class="flex items-center">  
              <span class="text-green-500 font-semibold"> (+) </span>
              <span class="ml-1"> Total balanza </span>       
            </p>
            <p> ${{ valoresCaja?.total_balanza | moneda }} </p>
          </div>
          <div class="flex items-center justify-between p-2">
            <p class="flex items-center">  
              <span class="text-green-500 font-semibold"> (+) </span>
              <span class="ml-1"> Total no balanza </span>       
            </p>
            <p> ${{ valoresCaja?.total_no_balanza | moneda }} </p>
          </div>
          <div class="flex items-center justify-between p-2">
            <p class="flex items-center">  
              <span class="text-green-500 font-semibold"> (+) </span>
              <span class="ml-1"> Total adicional por crédito </span>       
            </p>
            <p> ${{ valoresCaja?.total_adicional_credito | moneda }} </p>
          </div>
          <div (click)="showFacturado = !showFacturado" class="my-2 cursor-pointer font-semibold bg-gray-100 p-2 rounded border border-gray-400 ">
            <div class="flex items-center justify-between">
              <p> Total en ventas </p>
              <p> ${{ valoresCaja?.total_ventas | moneda }} </p>
            </div>
            <div *ngIf="showFacturado" class="flex bg-blue-100 border border-blue-300 text-blue-700 p-2 mt-2 items-center justify-between">
              <p> Guia de despacho </p>
              <p> ${{ valoresCaja?.total_facturado | moneda }} </p>  
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between p-2">
              <p class="flex items-center">  
                <span class="text-green-500 font-semibold"> (+) </span>
                <span class="ml-1"> Saldo inicial de caja </span>       
              </p>
              <p> ${{ saldoInicial | moneda }} </p>
            </div>   
            <div class="flex items-center justify-between p-2">
              <p class="flex items-center">  
                <span class="text-green-500 font-semibold"> (+) </span>
                <span class="ml-1"> Otros ingresos </span>       
              </p>
              <p> ${{ totalIngresos | moneda }} </p>
            </div>   
            <div class="flex items-center justify-between p-2">
              <p class="flex items-center">  
                <span class="text-red-500 font-semibold"> (-) </span>
                <span class="ml-1"> Otros gastos </span>       
              </p>
              <p class="text-red-500"> -${{ totalGastos | moneda }} </p>
            </div>
            <div class="flex items-center justify-between p-2">
              <p class="flex items-center">  
                <span class="text-red-500 font-semibold"> (-) </span>
                <span class="ml-1"> PedidosYa - Online </span>       
              </p>
              <p class="text-red-500"> -${{ total_pedidosYa | moneda }} </p>
            </div>    
            <div (click)="showPostnet = !showPostnet" class="flex cursor-pointer items-center justify-between p-2">
              <div class="flex items-center">  
                <span class="text-red-500 font-semibold"> (-) </span>
                <div class="ml-1 flex items-center"> 
                  <span>
                    Total postnet
                  </span>
                  <span *ngIf="showPostnet" class="p-1 ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 bg-gray-100 border border-gray-400 rounded-full" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
                    </svg>      
                  </span>
                  <span *ngIf="!showPostnet" class="p-1 ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 bg-gray-100 border border-gray-400 rounded-full" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
                    </svg>   
                  </span>
                </div>       
              </div>
              <p class="text-red-500"> -${{ valoresCaja?.total_postnet | moneda }} </p>
            </div>  
            <div *ngIf="showPostnet" class="bg-red-100 border border-red-300">
              <div class="flex items-center justify-between p-2">
                <p class="flex items-center">  
                  <span class="text-red-500 font-semibold"> (-) </span>
                  <span class="ml-1"> Débito </span>       
                </p>
                <p class="text-red-500"> -${{ valoresCaja?.total_debito | moneda }} </p>
              </div>  
              <div class="flex items-center justify-between p-2">
                <p class="flex items-center">  
                  <span class="text-red-500 font-semibold"> (-) </span>
                  <span class="ml-1"> Crédito </span>       
                </p>
                <p class="text-red-500"> -${{ valoresCaja?.total_credito | moneda }} </p>
              </div>  
              <div class="flex items-center justify-between p-2">
                <p class="flex items-center">  
                  <span class="text-red-500 font-semibold"> (-) </span>
                  <span class="ml-1"> Mercado pago </span>       
                </p>
                <p class="text-red-500"> -${{ valoresCaja?.total_mercadopago | moneda }} </p>
              </div>            
            </div>
          </div>
          <div class="flex my-2 font-semibold items-center bg-gray-100 p-2 rounded border border-gray-400 justify-between">
            <p> Total efectivo en caja (Sistema) </p>
            <p> ${{ efectivoEnCaja | moneda }} </p>
          </div>
          <div class="flex my-2 font-semibold items-center bg-gray-100 p-2 rounded border border-gray-400 justify-between">
            <p> Total efectivo en caja (Real) </p>
            <input (keyup)="calculosFinales()" [(ngModel)]="efectivoEnCajaReal" type="number" min="0" placeholder="Total efectivo real" class="bg-white border focus:outline-none rounded border-gray-400 p-2">
          </div>
          <div class="flex my-2 font-semibold items-center bg-gray-100 p-2 rounded border border-gray-400 justify-between">
            <p> Monto a tesoreria </p>
            <input (keyup)="calculosFinales()" [(ngModel)]="tesoreria" type="number" min="0" placeholder="Monto a tesoreria" class="bg-white border focus:outline-none rounded border-gray-400 p-2">
          </div>
          <div class="flex my-2 font-semibold items-center bg-gray-100 p-2 rounded border border-gray-400 justify-between">
            <p> Diferencia en caja </p>
            <p [ngClass]="{'text-red-500': diferencia < 0}"> ${{ diferencia | moneda }} </p>
          </div>
          <div class="flex my-2 font-semibold items-center bg-gray-100 p-2 rounded border border-gray-400 justify-between">
            <p> Saldo inicial proxima caja </p>
            <p> ${{ saldoProximaCaja | moneda }} </p>
          </div>
          <button (click)="cierreDeCaja()" class="border mt-2 border-gray-400 shadow bg-secondaryColor text-white focus:outline-none font-semibold w-full p-2 rounded">
            Cierre de caja
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Ingresos y Gastos -->
  <div class="mt-4 md:mt-0 md:w-1/2 border border-gray-300 h-full rounded-t md:ml-2 text-sm">
    <div class="bg-primary-800 p-3 rounded-t text-lg flex items-center justify-between">
      <h1 class="text-white"> Ingresos y gastos </h1>
      <button (click)="abrirModalIngresosGastos('crear')" class="p-2 border bg-white border-gray-300 focus:outline-none rounded hover:text-secondaryColor" title="Nuevo elemento">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
        </svg>
      </button>
    </div>
    <div *ngIf="ingresos.length <= 0 && gastos.length <= 0" class="p-2">
      No se encontraron elementos cargados
    </div>
    <div *ngIf="ingresos.length > 0 || gastos.length > 0" class="p-2">
      
      <!-- Ingresos -->
      <div class="pb-2" *ngIf="ingresos.length > 0">
        <p class="font-semibold p-1 bg-green-100 border border-green-200"> Listado de ingresos </p>
        <div>
          <div (click)="eliminarIngresoGasto(ingreso)" class="flex items-center justify-between mt-1 p-2 text-xs hover:bg-green-100 cursor-pointer" *ngFor="let ingreso of ingresos">
            <div class="flex items-center"> 
              <span class="font-semibold text-green-500"> (+) </span> 
              <span class="ml-1"> {{ ingreso.descripcion }}  </span>      
            </div>
            <p> ${{ ingreso.monto | moneda }} </p>
          </div>
          <div class="flex items-center font-semibold border-t justify-between p-2 mt-1">
            <div class="flex items-center"> 
              <span class="font-semibold text-green-500"> (+) </span> 
              <span class="ml-1"> Total de ingresos  </span>      
            </div>
            <p> ${{ totalIngresos | moneda }} </p>
          </div>
        </div>
      </div>

      <!-- Gastos -->
      <div *ngIf="gastos.length > 0">
        <p class="font-semibold p-1 bg-red-100 border border-red-200"> Listado de gastos </p>
        <div>
          <div (click)="eliminarIngresoGasto(gasto)" class="flex items-center hover:bg-red-100 text-xs justify-between cursor-pointer mt-1 p-2" *ngFor="let gasto of gastos">
            <div class="flex items-center"> 
              <span class="font-semibold text-red-500"> (-) </span> 
              <span class="ml-1"> {{ gasto.descripcion }}  </span>      
            </div>
            <p> -${{ gasto.monto | moneda }} </p>
          </div>
          <div class="flex items-center font-semibold border-t justify-between p-2 mt-1">
            <div class="flex items-center"> 
              <span class="font-semibold text-red-500"> (-) </span> 
              <span class="ml-1"> Total de gastos  </span>      
            </div>
            <p> ${{ totalGastos | moneda }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
