<!-- Modal: Crear / Editar repartidor -->
<app-modal [showModal]="showModalRepartidor">
  <div (keyup.enter)="estadoFormulario === 'crear' ? nuevoRepartidor() : actualizarRepartidor()">
      <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
          <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Creando repartidor' : 'Editando repartidor' }} </h1>
          <svg (click)="showModalRepartidor = false" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </div>
      <div class="p-4 text-sm">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Descripción </p>
          <input [(ngModel)]="descripcion" class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800" placeholder="Ej. Equinoccio Technology" type="text">
          <div *ngIf="repartidorSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
            <div class="xl:w-1/2">
                <p class="font-semibold text-sm"> Fecha de alta </p>
                <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ repartidorSeleccionado.createdAt | fecha }}
                </div>
            </div>
            <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                <p class="font-semibold text-sm"> Usuario creador </p>
                <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ repartidorSeleccionado.creatorUser.apellido.toLowerCase() }} {{ repartidorSeleccionado.creatorUser.nombre.toLowerCase() }}
                </div>
            </div>
        </div> 
        <div *ngIf="repartidorSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
            <div class="xl:w-1/2">
                <p class="font-semibold text-sm"> Ultima actualización </p>
                <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ repartidorSeleccionado.updatedAt | fecha }}
                </div>
            </div>
            <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                <p class="font-semibold text-sm"> Usuario ultima actualización </p>
                <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ repartidorSeleccionado.updatorUser.apellido.toLowerCase() }} {{ repartidorSeleccionado.updatorUser.nombre.toLowerCase() }}
                </div>
            </div>
        </div>   
          <button *ngIf="estadoFormulario == 'crear'" (click)="nuevoRepartidor()" class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Crear repartidor </button>
          <button *ngIf="estadoFormulario == 'editar'" (click)="actualizarRepartidor()" class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Actualizar repartidor </button>
      </div>
  </div>
</app-modal>

<!-- Listado de repartidores -->
<div class="md:max-w-5xl mx-auto">
    <app-tarjeta-lista>
      <div class="container mx-auto">
          <div>
              <div class="flex items-center justify-between bg-primary-800 px-4 py-3 rounded-t">
                  <div class="ml-2 text-white">
                      <h2 class="text-2xl leading-tight">
                          Listado de repartidores
                      </h2>
                      <p> Total de repartidores: {{ repartidores.length }} </p>
                  </div>
                  <div *ngIf="permisos.all">
                    <button title="Nuevo repartidor" (click)="abrirModal('crear')" class="p-2 border mr-3 focus:outline-none hover:text-secondaryColor border-gray-300 bg-white rounded shadow">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                        </svg>
                    </button>
                  </div>
              </div>
              <div class="md:flex md:items-center md:justify-between px-4 py-2">
                  <div class="my-2 flex sm:flex-row flex-col">
                      <div class="flex flex-row mb-1 sm:mb-0">
                          <div class="relative">
                              <select #txtActivo (change)="filtrarActivos(txtActivo.value)" class="h-full text-sm rounded-r border-t border-l rounded-l sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                                  <option value='true'> Activos </option>
                                  <option value='false'> Inactivos </option>
                                  <option value=''> Todos </option>
                              </select>
                              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                  <svg class="fill-current h-4 w-4" viewBox="0 0 20 20">
                                      <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                  </svg>
                              </div>
                          </div>
                      </div>
                      <div class="block relative">
                          <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                              <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500 cursor-pointer hover:text-secondary-500">
                                  <path
                                      d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                  </path>
                              </svg>
                          </span>
                          <input #txtParametro placeholder="Buscar" (keyup)="filtrarParametro(txtParametro.value)" class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none"
                          />
                      </div>
                      <select (change)="paginaActual = 1" class="bg-white text-sm focus:outline-none w-max px-2 py-2 md:py-0 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="cantidadItems">
                          <option value="10"> 10 elementos </option>
                          <option value="20"> 20 elementos </option>
                          <option value="50"> 50 elementos </option>
                          <option value="100"> 100 elementos </option>
                      </select>
                  </div>
              </div>
              <div class="px-4 py-2 overflow-x-auto">
                  <div class="inline-block max-h-screen overflow-y-auto min-w-full overflow-hidden pb-5">
                      <table class="min-w-full leading-normal">
                          <thead>
                              <tr class="border">
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('descripcion')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span> Descripción </span>
                                          <span class="ml-2 text-gray-600">    
                                              <svg *ngIf="ordenar.columna == 'descripcion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'descripcion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'descripcion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('createdAt')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                          <span>
                                              Fecha de creación                                                
                                          </span>
                                          <span class="ml-2">
                                              <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'createdAt'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('activo')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span>
                                              Estado                                               
                                          </span>
                                          <span class="ml-2">
                                              <svg *ngIf="ordenar.columna == 'activo' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'activo' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'activo'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th *ngIf="permisos.all" class="px-5 border-b-2 border-gray-200 bg-gray-100 text-center text-sm font-semibold text-gray-900 tracking-wider">
                                      Acción
                                  </th>
                              </tr>
                          </thead>
                          <tbody *ngIf="repartidores">
                              <tr class="animate__animated animate__fadeIn" *ngFor="let repartidor of repartidores | filtroRepartidores:filtro.parametro:filtro.activo | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual}">
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 w-max whitespace-no-wrap">
                                          {{ repartidor.descripcion }}
                                      </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 whitespace-no-wrap">
                                          {{ repartidor.createdAt | fecha }}
                                      </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                      <app-pastilla-estado [activo]=repartidor.activo (click)="actualizarEstado(repartidor)"></app-pastilla-estado>
                                  </td>
                                  <td *ngIf="permisos.all" class="px-5 py-2 border-b border-gray-200 text-xs text-center">
                                        <span class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                                            <app-boton-tabla (click)="abrirModal('editar', repartidor)" title="Editar repartidor">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                            </app-boton-tabla>
                                        </span>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div *ngIf="repartidores.length > cantidadItems" class="px-5 py-5 mt-4 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
              <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="paginaActual = $event"></pagination-controls>
          </div>
      </div>
    </app-tarjeta-lista>
</div>

