<div class="relative z-0 lg:flex-grow">
    <header class="bg-primary-800 flex p-2">
        <button (click)="dataService.showMenu = true" class="p-2 lg:hidden focus:outline-none focus:bg-gray-600 text-white items-center rounded-md">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        <div class="flex items-center justify-between w-full">
            <span class="flex items-center text-white p-2">
              <img class="w-10 cursor-pointer" routerLink="/dashboard/home" src="assets/img/EquinoccioLogo.webp">
                <span class="ml-2">
                    {{ this.dataService.ubicacionActual }}
                </span>
            </span>
        </div>
    </header>
</div>
