<!-- Modal: Completando ventas (Reserva) -->
<app-modal class="text-xs md:text-base" [showModal]="showCompletarVenta">
  <div class="bg-gray-100 border-b border-gray-300">
    <div class="bg-primary-800 flex p-2 items-center justify-between text-white">
      <h1 class="text-lg"> Completando reserva </h1>
      <button (click)="showCompletarVenta = false" class="focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>        
      </button>
    </div>
    <div class="px-4">
      <div class="flex items-center justify-between p-1">
        <p class=""> <span class="font-semibold"> Fecha: </span> {{ reserva?.fecha_reserva | fecha }} </p>
        <p class="w-max p-2"> <span class="font-semibold"> Precio total: </span> ${{ reserva?.precio_total | moneda }} </p>
      </div>
    </div>
  </div>
  <div class="px-4 py-2 mt-1 max-h-96 overflow-y-auto">
    <div class="flex items-center">
      <div class="w-1/2">
        <p class="font-semibold text-sm"> Tipo de comprobante </p>
        <div class="flex items-center">
          <select [(ngModel)]="comprobante" class="w-full mt-2 text-sm border p-2 bg-white focus:outline-none border-gray-400 rounded">
            <option value="Normal"> Normal </option>
            <option value="Fiscal"> Guia de despacho </option>
          </select>
        </div>
      </div>
      <div *ngIf="comprobante === 'Fiscal'" class="w-1/2 ml-2">
        <p class="text-sm text-white"> Proximo numero de factura </p>
        <div class="flex items-center mb-3 md:mb-0">
          <button (click)="proximoNroFactura()" title="Buscar proximo numero de factura" class="p-2 rounded border md:mt-2 border-gray-400 focus:outline-none hover:text-secondaryColor">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z" />
            </svg>          
          </button>
          <p *ngIf="proximo_nro_factura" class="md:text-sm w-full text-xs rounded bg-gray-100 p-2 border border-gray-300 text-center font-semibold ml-2 md:mt-2">
            {{ proximo_nro_factura }}
          </p>
        </div>

      </div>
    </div>
    <div class="mt-2">
      <div (click)="cambiarImprimir()" class="text-xs w-max bg-gray-50 cursor-pointer border border-gray-400 rounded p-1">  
        <div class="flex items-center" *ngIf="imprimir">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 font-semibold text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <span>
            Con impresión
          </span>
        </div>
        <div class="flex items-center" *ngIf="!imprimir">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 font-semibold text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
          <span>
            Sin impresión
          </span>
        </div> 
      </div>
    </div>
    <div class="mt-2">
      <p class="font-semibold text-sm"> Calculadora de vuelto </p>
      <div class="md:flex text-sm md:items-center mt-2">
        <input (keyup)="calcularVuelto()" [(ngModel)]="pagaCon" class="border p-2 focus:outline-none border-gray-400 w-full md:w-1/2 rounded" placeholder="Paga con..." type="number">
        <div class="border md:ml-2 mt-2 md:mt-0 p-2 focus:outline-none text-center bg-gray-100 text-primary-900 border-gray-400 md:w-1/2 rounded" placeholder="Paga con..." type="number"> {{ (vuelto && vuelto >= 0) ? '$' + (vuelto | moneda) : 'Monto a devolver' }} </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="md:flex md:items-center">
        <div class="md:w-1/2">
          <p class="font-semibold text-sm"> {{ multiples_formasPago ? 'Multiples metodos de pago' : 'Metodo de pago' }} </p>
          <select [(ngModel)]="formaPago" (change)="seleccionarFormaPago()" class="border bg-white mt-2 w-full border-gray-400 text-sm p-2 rounded focus:outline-none">
            <option *ngFor="let item of itemsFormasPago" [value]="item"> {{ item === 'PedidosYa' ? 'PedidosYa - Online' : item }} </option>          
          </select>
        </div>
        <button *ngIf="!multiples_formasPago && formaPago !== 'PedidosYa' && formaPago !== 'PedidosYa - Efectivo'" (click)="metodoPagoMultiple()" class="md:ml-2 mt-2 md:mt-7 hover:text-secondaryColor border border-gray-400 p-2 w-full md:w-1/2 rounded focus:outline-none text-sm"> Multiples formas de pago </button>
        <div *ngIf="multiples_formasPago" class="md:ml-2 text-sm w-1/2 mt-2 md:mt-7 flex items-center">
          <input (keyup.enter)="agregarFormaPago()" [(ngModel)]="formaPagoMonto" type="number" class="w-1/2 border focus:outline-none border-gray-400 p-2 rounded" placeholder="Monto">
          <button (click)="agregarFormaPago()" title="Agregar metodo de pago" class="p-2 border hover:text-secondaryColor focus:outline-none border-gray-400 ml-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>           
          </button>
          <button (click)="metodoPagoUnico()" title="Volver a metodo de pago unico" class="p-2 border hover:text-secondaryColor focus:outline-none border-gray-400 ml-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>         
          </button>         
        </div>
        <div *ngIf="formaPago === 'PedidosYa' || formaPago === 'PedidosYa - Efectivo'" class="md:w-1/2 md:ml-2">
          <p class="text-sm font-semibold"> Nro comprobante pedidosYa </p>
          <input (keyup.enter)="completarVenta()" [(ngModel)]="pedidosya_comprobante" type="text" class="border w-full text-sm mt-2 border-gray-400 p-2 focus:outline-none rounded" placeholder="Ej. 2233">
        </div>
      </div>
      <div class="mt-3" *ngIf="multiples_formasPago && formasPago.length > 0">
        <h2 class="text-sm font-semibold mb-2 border border-gray-400 bg-gray-100 p-2"> Formas de pago agregadas </h2>
        <div *ngFor="let elemento of formasPago">
          <div class="border-b p-2 text-left flex items-center justify-between text-sm">  
            <p class="w-1/3"> {{ elemento.descripcion }} </p>
            <p class="w-1/3"> ${{ elemento.valor | moneda }} </p>
            <button (click)="eliminarFormaPago(elemento)" class="p-2 w-max border border-gray-400 focus:outline-none rounded hover:text-secondaryColor">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 pt-2 pb-2 flex items-center">
    <button (click)="completarVenta()" class="border flex items-center justify-center text-center text-sm bg-red-700 focus:outline-none text-white shadow w-full p-2 mt-4 rounded">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>      
      <span>
        No se retiró
      </span>
    </button>
    <button (click)="completarVenta()" class="border text-sm ml-2 flex items-center justify-center bg-green-800 focus:outline-none text-white shadow w-full p-2 mt-4 rounded">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>  
      <span>
        Completar reserva
      </span>
    </button>
  </div>
</app-modal>

<!-- Modal actualizar datos de alerta -->
<app-modal-small [showModal]="showModalAlerta">
  <div>
    <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
      <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Datos de alerta </h1>
      <svg (click)="showModalAlerta = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="cursor-pointer feather feather-x text-white mr-2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
    <div class="text-sm p-2">
      <p class="font-semibold text-center"> La alerta se activará </p>
      <select [(ngModel)]="dataReserva.horas_antes" class="w-full focus:outline-none border mt-2 border-gray-400 rounded p-2">
        <option value="1"> 1 hora antes </option>
        <option value="2"> 2 horas antes </option>
        <option value="3"> 3 horas antes </option>
        <option value="4"> 4 horas antes </option>
        <option value="5"> 5 horas antes </option>
      </select>
      <button (click)="actualizarFechasHoras()" class="p-2 focus:outline-none shadow mt-2 rounded bg-secondaryColor text-white w-full">
        Actualizar alerta
      </button>
    </div>
  </div>
</app-modal-small>

<!-- Modal Actualizar valor de seña -->
<app-modal-small [showModal]="showModalAdelanto">
  <div class="rounded-t">
    <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
      <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Actualizando seña </h1>
      <svg (click)="showModalAdelanto = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="cursor-pointer feather feather-x text-white mr-2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
    <div class="p-2 text-sm">
      <p class="font-semibold"> Monto de seña </p>
      <input (keyup.enter)="actualizarAdelanto()" [(ngModel)]="adelantoTMP" placeholder="Ej. 4000" type="number" class="p-2 mt-2 w-full focus:outline-none border border-gray-400 rounded">
      <button (click)="actualizarAdelanto()" class="p-2 border mt-2 focus:outline-none border-gray-400 shadow rounded bg-secondaryColor text-white w-full">
        Actualizar
      </button>
    </div>
  </div>
</app-modal-small>

<!-- Modal: Editando producto -->
<app-modal-small [showModal]="showModalEditarProducto">
  <div>
    <div class="rounded-t">
      <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
        <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Editar producto </h1>
        <svg (click)="showModalEditarProducto = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="cursor-pointer feather feather-x text-white mr-2">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </div>
    </div>
    <div class="p-2">
      <p class="font-semibold"> {{ productoSeleccionadoEdicion?.descripcion }} </p>
      <p class="text-xs text-gray-500"> ${{ productoSeleccionadoEdicion?.precio_unitario | moneda }} x {{ productoSeleccionadoEdicion?.unidad_medida_descripcion }} </p>
      <div class="flex items-center text-sm mt-2">
        <input (keyup.enter)="actualizarProducto()" [(ngModel)]="cantidad" type="number" class="p-2 w-40 rounded border focus:outline-none border-gray-400 shadow" placeholder="Cantidad">
        <button (click)="actualizarProducto()" title="Actualizar producto" class="p-2 rounded focus:outline-none bg-green-700 ml-2 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>          
        </button>
        <button (click)="showModalEditarProducto = false" title="Cancelar" class="p-2 rounded bg-red-700 focus:outline-none text-white border border-gray-400 shadow ml-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>       
        </button>
      </div>
    </div>
  </div>
</app-modal-small>

<!-- Modal: Nuevo producto -->
<app-modal [showModal]="showModalProductos">
  <div class="rounded-t">
    <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
      <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Agregando productos </h1>
      <svg (click)="showModalProductos = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="cursor-pointer feather feather-x text-white mr-2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
  </div>
  <div *ngIf="!productoSeleccionado" class="text-sm p-2">
    <input type="text" [(ngModel)]="filtro.parametroProductos" placeholder="Buscar" class="p-2 border w-60 border-gray-400 focus:outline-none">
    <div class="max-h-96 overflow-y-auto mt-2">
      <div (click)="seleccionarProducto(producto)" *ngFor="let producto of productos | filtroProductos:filtro.parametroProductos:'true'" class="border hover:border-secondaryColor cursor-pointer my-2 border-gray-400 p-2">
        <p class="font-semibold"> {{ producto.descripcion }} </p>
        <p class="text-xs text-gray-600"> ${{ producto.precio | moneda }} x {{ producto.unidad_medida.descripcion }} </p>
      </div>
    </div>
  </div>
  <div *ngIf="productoSeleccionado" class="text-sm p-2">
    <p class="font-semibold"> {{ productoSeleccionado?.descripcion }} </p>
    <p class="text-gray-500 text-xs"> ${{ productoSeleccionado?.precio | moneda }} x {{ productoSeleccionado?.unidad_medida.descripcion }} </p>
    <div class="mt-2 flex items-center">
      <input (keyup.enter)="agregarProducto()" [(ngModel)]="cantidad" class="border border-gray-400 p-2 rounded focus:outline-none" placeholder="Cantidad" type="number">
      <button (click)="agregarProducto()" title="Agregar producto" class="p-2 border bg-green-700 focus:outline-none ml-2 border-gray-400 shadow rounded">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
        </svg>  
      </button>
      <button (click)="productoSeleccionado = null" title="Cancelar" class="p-2 border bg-red-700 focus:outline-none ml-2 border-gray-400 shadow rounded">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg> 
      </button>
    </div>
  </div>
</app-modal>

<!-- Modal: Crear cliente -->
<app-modal [showModal]="showModalCliente">
  <div (keyup.enter)="estadoFormulario === 'crear' ? nuevoCliente() : actualizarCliente()">
    <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
      <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Creando cliente' :
        'Editando cliente' }} </h1>
      <svg (click)="showModalCliente = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="cursor-pointer feather feather-x text-white mr-2">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
    <div class="px-4 pt-4 pb-2 max-h-96 overflow-y-auto text-sm">
      <div class="md:flex md:items-center">
        <div class="w-full">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Apellido y Nombre / Razon social </p>
          <input [(ngModel)]="dataCliente.descripcion" placeholder="Ej. Equinoccio Technology" type="text"
          class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
        </div>
      </div>
      <div class="md:flex md:items-center mt-4">
        <div class="md:w-1/2">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Tipo de identificación </p>
          <select [(ngModel)]="dataCliente.tipo_identificacion"
            class="py-2 mt-1 cursor-pointer border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor outline-none w-full text-gray-800">>
            <option value="DNI"> DNI </option>
            <option value="CUIL"> CUIL </option>
            <option value="CUIT"> CUIT </option>
          </select>
        </div>
        <div class="md:w-1/2 md:ml-2 mt-2 md:mt-0">
          <p class="font-semibold"> <span class="text-red-500"> * </span> Identificación </p>
          <input [(ngModel)]="dataCliente.identificacion" placeholder="Ej. 34060398" type="text"
          class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
        </div>
      </div>
      <div class="md:flex md:items-center mt-4">
        <div class="md:w-1/2">
          <p class="font-semibold"> Direccion </p>
          <input [(ngModel)]="dataCliente.direccion" placeholder="Ej. Pringles 539" type="text"
          class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
        </div>
        <div class="md:w-1/2 md:ml-2 mt-2 md:mt-0">
          <p class="font-semibold"> Teléfono </p>
          <input [(ngModel)]="dataCliente.telefono" placeholder="Ej. 2664869642" type="text"
          class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
        </div>
      </div>
      <div class="md:flex md:items-center mt-4">
        <div class="w-full">
          <p class="font-semibold"> Correo electronico </p>
          <input [(ngModel)]="dataCliente.email" placeholder="Ej. equinocciotechnology@gmail.com" type="text"
          class="py-2 mt-1 border-b-2 border-gray-300 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800">
        </div>
      </div>
    </div>
    <div class="px-4 mb-4">
      <button *ngIf="estadoFormulario == 'crear'" (click)="nuevoCliente()"
        class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4">
        Crear cliente </button>
      <button *ngIf="estadoFormulario == 'editar'" (click)="actualizarCliente()"
        class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4">
        Actualizar cliente </button>
    </div>
  </div>
</app-modal>

<!-- Modal: Generar reserva -->
<app-modal-small [showModal]="showModalCompletando">
  <div>
    <div class="rounded-t">
      <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
        <h1 class=" text-white px-2 py-1 rounded-t text-lg"> Generando reserva </h1>
        <svg (click)="showModalCompletando = false" width="20" height="20" viewBox="0 0 24 24" fill="none"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="cursor-pointer feather feather-x text-white mr-2">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </div>
    </div>
    <div class="text-sm border-b border-gray-400 pb-2">
      <div class="flex items-center border-b bg-gray-100 p-2 border-gray-400 justify-between">
        <p> <span class="font-semibold"> Fecha reserva: </span> {{ dataReserva.fecha_reserva | fecha }}  </p>
        <p> <span class="font-semibold"> Precio total: </span>  ${{ dataReserva.precio_total | moneda }} </p>
      </div>
      <div class="mt-1 p-2 text-center">
        <div class="text-center">
          <p class="font-semibold"> Fecha y hora de entrega </p>
          <div class="flex items-center">
            <input [(ngModel)]="dataReserva.fecha_entrega" type="date" class="border mt-2 w-1/2 focus:outline-none border-gray-400 p-2">
            <input [(ngModel)]="dataReserva.hora_entrega" type="time" class="border ml-2 w-1/2 mt-2 focus:outline-none border-gray-400 p-2">
          </div>
        </div>
      </div>
    </div>
    <div class="text-sm mt-1 text-center p-2">
      <div class="flex items-center">
        <div class="w-1/2">
          <p class="font-semibold"> Monto de adelanto </p>
          <input (keyup)="calcularFaltaPagar()" [(ngModel)]="dataReserva.adelanto" type="number" placeholder="Adelanto" class="border text-center border-gray-400 mt-1 focus:outline-none p-2">
        </div>
        <div class="w-1/2 ml-1">
          <p class="font-semibold"> Falta pagar </p>
          <p class="border border-gray-400 p-2 ml-2 mt-1 bg-gray-100"> ${{ faltaPagar | moneda }} </p>
        </div>
      </div>
    </div>
    <div class="p-2">
      <button (click)="completarReserva()" class="p-2 bg-secondaryColor w-full text-white rounded focus:outline-none shadow">
        Generar reserva
      </button>   
    </div>
  </div>
</app-modal-small>

<!-- Paginar principal -->
<div class="gsap-contenido mb-10">
  <div class="max-w-3xl mx-auto mt-4 border border-gray-400">
    
    <div class="bg-primary-800 p-2 text-white flex items-center justify-between">
      <div class="flex items-center">
        <app-boton-regresar routerLink="/dashboard/reservas"></app-boton-regresar>
        <div class="ml-1">
          <h1 class="text-xl"> Detalles de reserva </h1>
          <!-- Reserva pendiente -->
          <p *ngIf="reserva?.estado === 'Pendiente'" class="p-1 text-xs font-semibold text-yellow-700 border border-yellow-400 bg-yellow-100 w-max"> Reserva pendiente </p>
        </div>
      </div>
      <div>
        <button (click)="eliminarReserva()" title="Eliminar reserva" class="p-2 bg-white mr-2 focus:outline-none border rounded text-primary-900 border-gray-400 shadow hover:text-red-700">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>         
        </button>
        <button (click)="abrirCompletarReserva()" title="Completar reserva" class="p-2 bg-white mr-1 focus:outline-none border rounded text-primary-900 border-gray-400 shadow hover:text-green-700">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>          
        </button>
      </div> 

    </div>


    <div class="px-4 py-2 text-sm">

      <!-- Datos de encabezado -->
      <div class="flex items-center justify-between mt-2">
        <div class="text-center">
          <p class="font-semibold"> Fecha de reserva </p>
          <input type="date" onkeydown="return false" (change)="actualizarFechaReserva()" [(ngModel)]="dataReserva.fecha_reserva" class="border mt-2 focus:outline-none border-gray-400 p-2">
        </div>
        <div class="text-center">
          <p class="font-semibold"> Fecha y hora de entrega </p>
          <div class="flex items-center">
            <input type="date" onkeydown="return false" (change)="actualizarFechasHoras()" [(ngModel)]="dataReserva.fecha_entrega" class="border mt-2 focus:outline-none border-gray-400 p-2">
            <input type="time" onkeydown="return false" (change)="actualizarFechasHoras()" [(ngModel)]="dataReserva.hora_entrega" class="border mt-2 ml-2 focus:outline-none border-gray-400 p-2">
            <button [ngClass]="{'bg-red-100 border-red-700' : reserva?.fecha_alerta | alertaReservas}" (click)="abrirActualizarAlerta()" title="Datos de alerta" class="border border-gray-400 mt-2 focus:outline-none ml-1 p-2 rounded shadow">             
              <svg *ngIf="!(reserva?.fecha_alerta | alertaReservas)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="none"><style>@keyframes notify{0%,to{transform:rotate(0deg);transform-origin:top center}10%,90%{transform:rotate(2deg)}20%,40%,60%{transform:rotate(-6deg)}30%,50%,70%{transform:rotate(6deg)}80%{transform:rotate(-2deg)}}</style><g style="animation:notify 1s cubic-bezier(.455,.03,.515,.955) both infinite" stroke-width="1.5"><path stroke="#0A0A30" d="M12.29 3.398a5 5 0 00-5 5v2c0 .758-.441 1.505-1.005 2.012a3 3 0 002.005 5.232h8a3 3 0 002.006-5.232c-.564-.507-1.005-1.254-1.005-2.012v-2a5 5 0 00-5-5z"/><path stroke="#A31D1E" stroke-linecap="round" d="M14.68 20.312l-.042.01a9.713 9.713 0 01-4.67-.01"/></g></svg> 
              <svg *ngIf="reserva?.fecha_alerta | alertaReservas" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"><style>@keyframes n-info-2{0%,to{transform:rotate(0deg);transform-origin:top center}10%,90%{transform:rotate(2deg)}20%,40%,60%{transform:rotate(-6deg)}30%,50%,70%{transform:rotate(6deg)}80%{transform:rotate(-2deg)}}</style><path stroke="#A31D1E" stroke-width="1.5" d="M12 3.398a5 5 0 00-5 5v2c0 .758-.442 1.505-1.005 2.012A3 3 0 008 17.642h8a3 3 0 002.005-5.232C17.442 11.903 17 11.156 17 10.398v-2a5 5 0 00-5-5z"/><g style="animation:n-info-2 1.5s cubic-bezier(.455,.03,.515,.955) both infinite"><path stroke="#A31D1E" stroke-linecap="round" stroke-width="1.5" d="M14.39 20.312l-.043.01a9.715 9.715 0 01-4.67-.01"/><path stroke="#A31D1E" stroke-linecap="round" stroke-width="1.5" d="M12 7.923v3.206"/><circle cx="12" cy="13.245" r=".832" fill="#A31D1E"/></g></svg>            
            </button>
          </div> 

        </div>
        <!-- <div class="text-center mr-2">
          <p class="font-semibold"> Precio total</p>
          <p class="border border-gray-400 p-2 bg-gray-100 mt-2 w-32 font-semibold"> ${{ dataReserva.precio_total | moneda }} </p>
        </div> -->
      </div>

      <!-- Datos de cliente -->
      <div class="mt-4">
        <div class="px-2 py-4 flex items-center justify-between bg-gray-100 border border-gray-400">
          <h2 class="font-semibold"> Datos de cliente </h2>
          <!-- <button title="Nuevo cliente" class="p-2 border focus:outline-none border-gray-400 bg-white rounded shadow hover:text-secondaryColor">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>            
          </button> -->
        </div>
        <div *ngIf="!clienteSeleccionado" class="flex items-center mt-3">
          <input (keyup.enter)="buscarCliente()" [(ngModel)]="identificacion_cliente" placeholder="DNI, CUIL o CUIT" type="text" class="p-2 border focus:outline-none border-gray-400">
          <button (click)="buscarCliente()" title="Buscar cliente" class="border ml-2 p-2 shadow bg-gray-100 rounded border-gray-400 hover:text-secondaryColor focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
          </button>
        </div>
        <div *ngIf="clienteSeleccionado" class="mt-3">
          <div class="border border-gray-400 shadow w-max">
            <div class="border-l-8 border-secondaryColor p-2 pr-4 flex items-center">
              <div>
                <img src="assets/img/cliente.svg" class="w-24" alt="Imagen de cliente">
              </div>
              <div class="ml-2">
                <p class="font-semibold"> {{ clienteSeleccionado.descripcion }} </p>
                <p class="text-gray-500 text-xs"> {{ clienteSeleccionado.tipo_identificacion }} {{ clienteSeleccionado.identificacion }} </p>
                <div class="flex items-center">
                  <!-- <button (click)="cambiarCliente()" title="Cambiar cliente" class="text-xs flex items-center rounded bg-gray-100 focus:outline-none mt-4 w-max border cursor-pointer p-1 border-gray-400 text-gray-900 hover:text-secondaryColor"> 
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                    </svg>
                  </button>
                  <button (click)="abrirEditarCliente()" title="Editar cliente" class="text-xs ml-2 flex items-center rounded bg-gray-100 focus:outline-none mt-4 w-max border cursor-pointer p-1 border-gray-400 text-gray-900 hover:text-secondaryColor"> 
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                    </svg>
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <div class="px-2 py-4 flex items-center justify-between bg-gray-100 border border-gray-400">
          <h2 class="font-semibold"> Datos de cobro </h2>
        </div>
        <div class="mt-4 mb-4 flex items-center justify-between">
          <div class="text-center">
            <p class="font-semibold"> Precio total </p>
            <p class="p-2 border mt-2 w-40 border-gray-700 bg-gray-50 font-semibold">
              ${{ dataReserva.precio_total | moneda }}
            </p>
          </div>
          <div class="ml-4 text-center">
            <p class="font-semibold mr-10"> Monto de seña  </p>
            <div class="flex items-center">
              <p class="p-2 border mt-2 w-40 border-green-700 bg-green-50">
                ${{ dataReserva.adelanto | moneda }}
              </p>
              <button (click)="abrirActualizarAdelanto()" title="Actualizar seña" class="p-2 mt-2 border border-gray-400 bg-gray-50 rounded ml-2 focus:outline-none hover:text-secondaryColor">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>                
              </button>
            </div>
          </div>
          <div class="ml-4 text-center">
            <p class="font-semibold"> Falta pagar  </p>
            <p class="p-2 border mt-2 w-40 border-red-700 bg-red-50">
              ${{ dataReserva.precio_total -  dataReserva.adelanto | moneda }}
            </p>
          </div>
        </div>
      </div> 

      <!-- Datos de productos -->
      <div class="mt-4">
        <div class="p-2 flex items-center justify-between bg-gray-100 border border-gray-400">
          <h2 class="font-semibold"> Datos de productos </h2>
          <button title="Nuevo producto" (click)="abrirProductos()" class="p-2 border focus:outline-none border-gray-400 bg-white rounded shadow hover:text-secondaryColor">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
            </svg>            
          </button>
        </div>
        <div *ngIf="carro.length === 0" class="mt-3">
          <p class="text-gray-500"> Todavia no se cargo ningun producto </p>
          <button (click)="abrirProductos()" class="p-2 border shadow mt-2 focus:outline-none border-gray-400 bg-secondaryColor text-white rounded">
            Agregar producto
          </button>
        </div>
        <div *ngIf="carro.length !== 0" class="mt-3 text-sm">
          <div *ngFor="let producto of carro" class="border flex items-center justify-between border-gray-400 shadow p-2 mb-2">
            <div>
              <p class="font-semibold"> {{ producto.descripcion }} </p>
              <p class="text-gray-500 text-xs"> ${{ producto.precio_unitario | moneda }} x {{ producto.unidad_medida_descripcion }} </p>
              <p class="text-xs"> Cantidad: {{ producto.cantidad }} </p>
              <p class="font-semibold"> Precio: ${{ producto.precio | moneda }} </p>
            </div>
            <div class="flex items-center">
              <button (click)="abrirEditarProducto(producto)" title="Editar producto" class="border border-gray-400 p-2 focus:outline-none rounded hover:text-secondaryColor">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                </svg>
              </button>
              <button (click)="eliminarProducto(producto)" title="Eliminar producto" class="border border-gray-400 p-2 focus:outline-none ml-1 rounded hover:text-red-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
