<!-- Actualizar mesa -->
<app-modal-small [showModal]="showModalActualizarMesa">
  <div class="bg-primary-800 text-white flex items-center justify-between p-2 rounded-t">
    <h1> Nueva mesa </h1>
    <button (click)="showModalActualizarMesa = false" class="focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
  <div class="p-2 text-sm">
    <div>
      <p class="font-semibold"> <span class="text-red-500"> * </span> Nombre de mesa </p>
      <input [(ngModel)]="formActualizarMesa.descripcion" (keyup.enter)="actualizarMesa()" type="text"
        placeholder="Ej. Mesa 1" class="p-2 rounded border mt-2 border-gray-400 w-full">
    </div>
    <button (click)="actualizarMesa()" class="p-2 bg-secondaryColor mt-3 focus:outline-none text-white rounded w-full">
      Actualizar mesa
    </button>
  </div>
</app-modal-small>

<!-- Modal: Completando ventas -->
<app-modal class="text-xs md:text-base" [showModal]="showModalVenta">
  <div class="bg-gray-100 border-b border-gray-300">
    <div class="bg-primary-800 flex p-2 items-center justify-between text-white">
      <h1 class="text-lg"> Completando venta </h1>
      <button (click)="showModalVenta = false" class="focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="px-4">
      <div class="flex items-center justify-between p-1">
        <p class=""> <span class="font-semibold"> Fecha: </span> {{ fecha | fecha }} </p>
        <p class="w-max p-2"> <span class="font-semibold"> Precio total: </span> ${{ precioTotal | moneda }} </p>
      </div>
    </div>
  </div>
  <div class="px-4 py-2 mt-1 max-h-96 overflow-y-auto">
    <div class="flex items-center">
      <div class="w-1/2">
        <p class="font-semibold text-sm"> Tipo de comprobante </p>
        <div class="flex items-center">
          <select [(ngModel)]="comprobante" (change)="cambiarTipoComprobante()"
            class="w-full mt-2 text-sm border p-2 bg-white focus:outline-none border-gray-400 rounded">
            <option value="Normal"> Normal </option>
            <option value="Fiscal"> Guia de despacho </option>
            <option value="Factura A"> Factura A </option>
          </select>
        </div>
      </div>
      <div *ngIf="comprobante === 'Fiscal' || comprobante === 'Factura A'" class="w-1/2 ml-2">
        <p class="text-sm text-white"> Proximo numero de factura </p>
        <div class="flex items-center mb-3 md:mb-0">
          <button (click)="comprobante === 'Fiscal' ? proximoNroFactura('B') : proximoNroFactura('A')"
            [title]="comprobante === 'Fiscal' ? 'Proximo numero de Factura B' : 'Proximo numero de Factura A'"
            class="p-2 rounded border md:mt-2 border-gray-400 focus:outline-none hover:text-secondaryColor">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z" />
            </svg>
          </button>
          <p *ngIf="proximo_nro_factura"
            class="md:text-sm w-full text-xs rounded bg-gray-100 p-2 border border-gray-400 text-center font-semibold ml-2 md:mt-2">
            {{ proximo_nro_factura }}
          </p>
        </div>
      </div>
    </div>
    <div class="mt-2">
      <div (click)="cambiarImprimir()"
        class="text-xs w-max bg-gray-50 cursor-pointer border border-gray-400 rounded p-1">
        <div class="flex items-center" *ngIf="imprimir">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 font-semibold text-green-600" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          <span>
            Con impresión
          </span>
        </div>
        <div class="flex items-center" *ngIf="!imprimir">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 font-semibold text-red-600" fill="none"
            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
          <span>
            Sin impresión
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="comprobante === 'Factura A'" class="mt-3 text-sm border-t border-b py-3 border-gray-300">
      <div class="p-2 bg-gray-100 border border-gray-400 flex items-center justify-between">
        <p class="font-semibold"> Datos de cliente </p>
        <button (click)="eliminarContribuyente()" title="Eliminar seleccion" *ngIf="contribuyente"
          class="bg-white p-2 border border-gray-400 rounded focus:outline-none hover:text-secondaryColor">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div *ngIf="!contribuyente" class="flex items-center mt-2">
        <input (keyup.enter)="getContribuyente()" [(ngModel)]="cuitContribuyente" type="text"
          class="p-2 outline-none border border-gray-400 rounded mt-2" placeholder="CUIT de cliente">
        <button (click)="getContribuyente()"
          class="ml-2 hover:text-secondaryColor border border-gray-400 focus:outline-none rounded p-2 mt-2"
          title="Buscar cliente">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </button>
      </div>
      <div *ngIf="contribuyente" class="text-sm mt-2 flex items-center">
        <img class="w-14" src="assets/img/cliente.svg" alt="cliente.svg">
        <div class="ml-2">
          <p *ngIf="contribuyente?.tipoPersona === 'JURIDICA'"> <span class="font-semibold"> Razon social: </span> {{
            contribuyente?.razonSocial }} </p>
          <p *ngIf="contribuyente?.tipoPersona === 'FISICA'"> <span class="font-semibold"> Apellido y Nombre: </span> {{
            contribuyente?.apellido }} {{ contribuyente?.nombre }} </p>
          <p class="mt-1"> <span class="font-semibold"> Tipo de persona: </span> {{ contribuyente?.tipoPersona }} </p>
          <p class="mt-1"> <span class="font-semibold"> {{ contribuyente.tipoClave }}: </span> {{
            contribuyente?.idPersona }} </p>
        </div>
      </div>
    </div>

    <div class="mt-2">
      <p class="font-semibold text-sm"> Calculadora de vuelto </p>
      <div class="md:flex text-sm md:items-center mt-2">
        <input (keyup)="calcularVuelto()" [(ngModel)]="pagaCon"
          class="border p-2 focus:outline-none border-gray-400 w-full md:w-1/2 rounded" placeholder="Paga con..."
          type="number">
        <div
          class="border md:ml-2 mt-2 md:mt-0 p-2 focus:outline-none text-center bg-gray-100 text-primary-900 border-gray-400 md:w-1/2 rounded"
          placeholder="Paga con..." type="number"> {{ (vuelto && vuelto >= 0) ? '$' + (vuelto | moneda) : 'Monto a devolver' }} </div>
      </div>
    </div>
    <div class="mt-4">
      <div class="md:flex md:items-center">
        <div class="md:w-1/2">
          <p class="font-semibold text-sm"> {{ multiples_formasPago ? 'Multiples metodos de pago' : 'Metodo de pago' }}
          </p>
          <select [(ngModel)]="formaPago" (change)="seleccionarFormaPago()"
            class="border bg-white mt-2 w-full border-gray-400 text-sm p-2 rounded focus:outline-none">
            <option *ngFor="let item of itemsFormasPago" [value]="item"> {{ item === 'PedidosYa' ? 'PedidosYa - Online'
              : item }} </option>
          </select>
        </div>
        <button *ngIf="!multiples_formasPago && formaPago !== 'PedidosYa' && formaPago !== 'PedidosYa - Efectivo'"
          (click)="metodoPagoMultiple()"
          class="md:ml-2 mt-2 md:mt-7 hover:text-secondaryColor border border-gray-400 p-2 w-full md:w-1/2 rounded focus:outline-none text-sm">
          Multiples formas de pago </button>
        <div *ngIf="multiples_formasPago" class="md:ml-2 text-sm w-1/2 mt-2 md:mt-7 flex items-center">
          <input (keyup.enter)="agregarFormaPago()" [(ngModel)]="formaPagoMonto" type="number"
            class="w-1/2 border focus:outline-none border-gray-400 p-2 rounded" placeholder="Monto">
          <button (click)="agregarFormaPago()" title="Agregar metodo de pago"
            class="p-2 border hover:text-secondaryColor focus:outline-none border-gray-400 ml-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
            </svg>
          </button>
          <button (click)="metodoPagoUnico()" title="Volver a metodo de pago unico"
            class="p-2 border hover:text-secondaryColor focus:outline-none border-gray-400 ml-2 rounded">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div *ngIf="formaPago === 'PedidosYa' || formaPago === 'PedidosYa - Efectivo'" class="md:w-1/2 md:ml-2">
          <p class="text-sm font-semibold"> Nro comprobante pedidosYa </p>
          <input (keyup.enter)="completarVenta()" [(ngModel)]="pedidosya_comprobante" type="text"
            class="border w-full text-sm mt-2 border-gray-400 p-2 focus:outline-none rounded" placeholder="Ej. 2233">
        </div>
      </div>
      <div class="mt-3" *ngIf="multiples_formasPago && formasPago.length > 0">
        <h2 class="text-sm font-semibold mb-2 border border-gray-400 bg-gray-100 p-2"> Formas de pago agregadas </h2>
        <div *ngFor="let elemento of formasPago">
          <div class="border-b p-2 text-left flex items-center justify-between text-sm">
            <p class="w-1/3"> {{ elemento.descripcion }} </p>
            <p class="w-1/3"> ${{ elemento.valor | moneda }} </p>
            <button (click)="eliminarFormaPago(elemento)"
              class="p-2 w-max border border-gray-400 focus:outline-none rounded hover:text-secondaryColor">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 pt-2 pb-2">
    <button (click)="completarVenta()"
      class="border text-sm bg-secondaryColor focus:outline-none text-white shadow w-full p-2 mt-4 rounded">
      Completar venta
    </button>
  </div>
</app-modal>

<!-- Buscador de productos -->
<app-modal [showModal]="showModalProductos">
  <div class="bg-primary-800 text-white flex items-center justify-between p-2 rounded-t">
    <h1> Listado de productos </h1>
    <button (click)="showModalProductos = false" class="focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <div class="p-2 text-sm">

    <div class="text-gray-400 p-2" *ngIf="cargandoProductos">
      Cargando listado de productos...
    </div>

    <div *ngIf="!productoSeleccionado && !cargandoProductos">

      <input [(ngModel)]="filtroProductos.parametro" type="text" placeholder="Ej. Buscador de productos"
        class="border focus:outline-none mb-2 rounded w-full border-gray-400 p-2">

      <div class="border-b border-gray-400 max-h-96 overflow-y-auto">
        <div (click)="seleccionarProducto(producto)"
          *ngFor="let producto of productos | filtroProductos:filtroProductos.parametro:'true'"
          class="hover:bg-gray-50 border-b-0 cursor-pointer border border-gray-400 p-3">
          <p class="font-semibold text-xs md:text-sm"> {{ producto.descripcion }} </p>
          <p class="text-xs text-gray-500"> Precio: ${{ producto.precio | moneda }} </p>
        </div>
      </div>
    </div>

    <div *ngIf="productoSeleccionado && !cargandoProductos">
      <div class="p-2">
        <p class="font-semibold text-xs md:text-sm"> {{ productoSeleccionado.descripcion }} </p>
        <p class="text-xs text-gray-500"> Precio: ${{ productoSeleccionado.precio | moneda }} </p>
      </div>
      <div class="flex items-center mt-2">
        <button (click)="cantidad = cantidad > 1 ? cantidad - 1 : cantidad"
          class="p-2 ml-2 hover:text-red-500 focus:outline-none bg-gray-100 border border-gray-400 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
          </svg>
        </button>
        <input type="number" [(ngModel)]="cantidad" class="border ml-2 border-gray-400 p-2 w-20 text-center rounded">
        <button (click)="cantidad = cantidad + 1"
          class="p-2 ml-2 focus:outline-none hover:text-green-500 bg-gray-100 border border-gray-400 rounded">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
          </svg>
        </button>
      </div>
      <div class="grid grid-cols-2 gap-2 mt-4">
        <button (click)="agregarProducto()" class="bg-green-500 text-white p-2 rounded focus:outline-none">
          Agregar
        </button>
        <button (click)="deseleccionarProducto()" class="bg-red-500 text-white p-2 rounded focus:outline-none">
          Cancelar
        </button>
      </div>
    </div>

  </div>
</app-modal>

<!-- Pagina principal -->
<div class="p-2">
  <div class="md:w-2/3 mx-auto">
    <div class="border border-primary-800 flex items-center justify-between bg-primary-800 text-white p-2">
      <div class="ml-3 flex items-center">
        <button routerLink="/dashboard/cafeteria" title="Regresar"
          class="p-2 focus:outline-none text-gray-900 rounded hover:text-secondaryColor bg-gray-200">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
          </svg>
        </button>
        <div class="ml-3">
          <h1 class="md:text-xl"> {{ mesa?.descripcion }} </h1>
          <p class="p-2 text-xs bg-red-500 text-white rounded w-max"> Mesa ocupada </p>
        </div>
      </div>
      <div>
        <button *appPermisos="permiso_escritura" (click)="abrirActualizarMesa()" title="Actualizar mesa"
          class="bg-gray-50 focus:outline-none hover:text-orange-500 p-2 mr-3 rounded text-gray-800">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>
        </button>
      </div>
    </div>

    <div class="mt-2 text-sm">
      <div class="bg-gray-100 p-2 border border-gray-400 mb-2 flex items-center justify-between">
        <h2 class="font-semibold"> Detalles de pedido </h2>
        <div class="flex items-center">
          <button (click)="!actualizandoDatos && imprimirDetallesPedido()" [ngClass]="{'opacity-50': actualizandoDatos}"
            title="Imprimir detalles"
            class="p-2 focus:outline-none text-gray-900 border border-gray-400 rounded bg-gray-50 hover:text-secondaryColor">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
            </svg>
          </button>
          <button *appPermisos="permiso_escritura" [ngClass]="{'opacity-50': actualizandoDatos}" (click)="!actualizandoDatos && abrirListadoProductos()"
            title="Agregar producto"
            class="p-2 focus:outline-none hover:text-green-500 ml-2 bg-white rounded border border-gray-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
              stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Detalles de pedido -->
    <div class="mt-2 text-sm" *ngIf="productosCarrito.length > 0">

      <div class="text-sm p-2 md:flex md:items-center md:justify-between">
        <div class="md:flex md:items-center md:justify-center mb-2">
          <button *appPermisos="permiso_escritura" (click)="abrirModalVenta()" [ngClass]="{'opacity-50': actualizandoDatos}"
            class="p-2 bg-green-500 w-full md:w-auto focus:outline-none hover:opacity-90 text-white rounded">
            Completar pedido
          </button>
          <button *appPermisos="permiso_escritura" (click)="!actualizandoDatos && cancelarPedido()" [ngClass]="{'opacity-50': actualizandoDatos}"
            class="p-2 focus:outline-none w-full md:w-auto bg-red-500 hover:opacity-90 text-white rounded mt-2 md:mt-0 md:ml-2">
            Cancelar pedido
          </button>
          <button *appPermisos="permiso_escritura" (click)="!actualizandoDatos && abrirListadoProductos()" [ngClass]="{'opacity-50': actualizandoDatos}"
            class="p-2 focus:outline-none w-full md:w-auto bg-orange-500 hover:opacity-90 text-white rounded mt-2 md:mt-0 md:ml-2">
            Agregar producto
          </button>
        </div>
        <p class="mt-4 md:mt-0"> <span class="font-semibold"> Precio total: </span> ${{ precioTotal | moneda }} </p>
      </div>

      <div class="mb-2" *ngFor="let elemento of productosCarrito">
        <div class="flex items-center justify-between border border-gray-400 p-3">
          <div class="flex items-center">
            <div class="flex items-center">
              <button *appPermisos="permiso_escritura" [ngClass]="{'opacity-50': actualizandoDatos}"
                (click)="!actualizandoDatos && eliminarProducto(elemento)" title="Eliminar producto"
                class="p-2 hover:opacity-90 focus:outline-none bg-red-500 mt-2 text-white rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
              <img class="w-10 md:w-14 ml-2" src="assets/svg/icono-producto-cafeteria.svg">
            </div>
            <div class="ml-2 mt-2">
              <p class="font-semibold text-xs md:text-sm"> {{ elemento.producto.descripcion }} </p>
              <div class="text-gray-800 text-xs"> Precio: ${{ elemento.producto.precio | moneda }} </div>
              <div class="text-gray-800">
                <div class="flex items-center mt-1">
                  <button *appPermisos="permiso_escritura" (click)="decrementarCantidad(elemento)" [ngClass]="{'opacity-50': actualizandoDatos}"
                    [disabled]="actualizandoDatos"
                    class="p-2 border border-gray-400 focus:outline-none hover:text-red-500 rounded bg-gray-50">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                    </svg>
                  </button>
                  <input [disabled]="actualizandoDatos" [ngClass]="{'opacity-50': actualizandoDatos}"
                    [(ngModel)]="elemento.cantidad" type="number"
                    (change)="!actualizandoDatos && actualizarCantidad(elemento)"
                    class="w-20 p-2 text-center ml-2 border border-gray-400">
                  <button *appPermisos="permiso_escritura" (click)="incrementarCantidad(elemento)" [ngClass]="{'opacity-50': actualizandoDatos}"
                    [disabled]="actualizandoDatos"
                    class="p-2 border ml-2 border-gray-400 focus:outline-none hover:text-green-500 rounded bg-gray-50">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                      stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <p class="text-xs md:text-sm"> ${{ elemento.precioTotal | moneda }} </p>
        </div>
      </div>
    </div>

  </div>
</div>
