
<!-- Detalles de venta -->
<app-modal [showModal]="showModalDetalle">
    <div>
        <div class="text-white bg-primary-800 flex items-center p-2 rounded-t justify-between">
            <h1 class="text-lg"> Detalles de venta </h1>
            <button (click)="showModalDetalle = false" class="focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>           
            </button>
        </div>
        <div class="p-4 text-sm">
            <div class="md:flex md:justify-between border-gray-300">
                <p class="text-left"> <span class="font-semibold"> Fecha: </span>  {{ ventaSeleccionada?.createdAt | fecha }} </p>  
                <p class="md:text-right capitalize mt-2 md:mt-0"> <span class="font-semibold"> Creador: </span> {{ ventaSeleccionada?.creatorUser.apellido.toLowerCase() }} {{ ventaSeleccionada?.creatorUser.nombre.toLowerCase() }}</p>  
            </div>
            <div class="text-left flex items-center mt-4 text-sm"> 
                <div class="font-semibold mr-2"> Tipo de comprobante: </div> 
                <div clas="flex items-center">
                    <span [ngClass]="{'bg-blue-100 border-blue-300 text-blue-800':ventaSeleccionada?.comprobante === 'Fiscal'}" class="p-1 bg-gray-100 font-semibold border border-gray-300 rounded"> 
                        {{ ventaSeleccionada?.comprobante !== 'Fiscal' ? ventaSeleccionada?.comprobante : 'Guia de despacho' }} 
                    </span> 
                    <button (click)="facturacionElectronica()" *ngIf="ventaSeleccionada?.comprobante === 'Normal'" class="bg-primary-800 hover:bg-secondaryColor transform duration-300 px-2 focus:outline-none text-white text-xs py-1 rounded ml-2 font-semibold"> Facturar </button>
                </div>
            </div>  
            <p *ngIf="ventaSeleccionada?.forma_pago[0]?.descripcion === 'PedidosYa'" class="mt-4 w-max"> 
                <span class="bg-yellow-100 text-yellow-700 border border-yellow-300 p-1 font-semibold rounded"> PedidosYa - Online - #{{ ventaSeleccionada?.pedidosya_comprobante }} </span>                 
            </p>
            <p *ngIf="ventaSeleccionada?.forma_pago[0]?.descripcion === 'PedidosYa - Efectivo'" class="mt-4 w-max"> 
              <span class="bg-orange-100 text-orange-700 border border-orange-300 p-1 font-semibold rounded"> PedidosYa - Efectivo - #{{ ventaSeleccionada?.pedidosya_comprobante }} </span>                 
            </p>
            <div class="mt-4">
                <h2 class="font-semibold text-sm bg-gray-100 p-2 w-full border border-gray-300"> Montos y formas de pago </h2>
                <div class="text-sm border-b border-gray-200 flex items-center justify-between" *ngFor="let formaPago of ventaSeleccionada?.forma_pago"> 
                    <span class="font-semibold p-2">
                        {{ formaPago.descripcion }}
                    </span>
                    <span > 
                        ${{ formaPago.valor | moneda }}  
                    </span> 
                </div>
                <div class="py-2 flex items-center justify-between"> 
                    <span class="font-semibold ml-2"> 
                        Monto total
                    </span>
                    <span class="font-semibold">
                        ${{ ventaSeleccionada?.precio_total | moneda }} 
                    </span> 
                </div>
            </div>
            <div class="mt-3 text-sm">
                <h2 class="font-semibold bg-gray-100 p-2 w-full border border-gray-300"> Listado de productos </h2>
                <div class="max-h-60 mt-2 overflow-y-auto">
                    <div class="border border-gray-300 p-2 mt-2 rounded" *ngFor="let producto of productos">
                        <p class="font-semibold"> {{ producto.descripcion }} </p>
                        <p class="text-xs"> Cantidad: {{ producto.cantidad }} ({{ producto.unidad_medida }}) </p>
                        <p class="text-sm font-semibold"> ${{ producto.precio | moneda }} </p>   
                    </div>   
                </div>
            </div>
        </div>
    </div>
</app-modal>

<!-- Busqueda por fechas -->
<div class="border gsap-contenido border-gray-300 rounded-t shadow w-max mt-4 mx-auto">
    <div class="bg-primary-800 p-2 flex items-center text-white rounded-t">
        <app-boton-regresar class="mr-2" routerLink="/dashboard/ventas"></app-boton-regresar>
        <h1 class="text-lg"> Buscador de ventas </h1>
    </div>
    <div class="p-4 text-center flex justify-center">
        <div class="flex items-center text-sm">
            <div>
                <p class="font-semibold"> Fecha desde </p>
                <input [(ngModel)]="filtro.fechaDesde" type="date" class="border mt-1 focus:outline-none border-gray-300 p-2 rounded">
            </div>
            <div class="ml-2">
                <p class="font-semibold"> Fecha hasta </p>
                <input [(ngModel)]="filtro.fechaHasta" type="date" class="border mt-1 focus:outline-none border-gray-300 p-2 rounded">
            </div>
            <button (click)="listarVentas()" class="p-2 rounded focus:outline-none bg-secondaryColor mt-5 ml-2 shadow text-white"> Buscar ventas </button>
        </div>
    </div>
</div>


<div *ngIf="ventas.length === 0 && !this.inicio" class="text-center mt-7">
    <img class="w-1/2 md:w-1/3 mx-auto mt-4" src="assets/img/not-results/not-results.svg" alt="not-result.svg">
    <h1 class="text-xl mt-2"> No se encontraron resultados </h1>
</div>

<!-- Listado de ventas -->
<div *ngIf="ventas.length !== 0" class="md:max-w-5xl mx-auto">
    <app-tarjeta-lista>
      <div class="container mx-auto rounded-t">
          <h1 class="bg-primary-800 text-center text-white rounded-t p-2">
            Cantidad de ventas: {{ ventas.length }}
          </h1>
          <div>
              <!-- Filtros -->
              <div class="md:flex md:items-center md:justify-center px-4 py-2">
                  <div class="md:my-2 flex text-sm sm:flex-row flex-col">
                        <input (keyup)="paginaActual = 1" [(ngModel)]="filtro.parametro" type="text" class="p-2 border focus:outline-none border-gray-400 rounded" placeholder="Usuario, Nro comp.">
                        <div>
                            <select (change)="paginaActual = 1" [(ngModel)]="filtro.pedidosYa" class="bg-white text-sm focus:outline-none w-max p-2 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded">
                                <option value="todos"> Todos </option>
                                <option value="PedidosYa"> PedidosYa </option>
                                <option value="PedidosYa - App"> PedidosYa - Online </option>
                                <option value="PedidosYa - Efectivo"> PedidosYa - Efectivo </option>
                                <option value="SinPedidosYa"> Sin PedidosYa </option>
                            </select>
                            <select (change)="paginaActual = 1" [(ngModel)]="filtro.facturacion" class="bg-white ml-2 text-sm focus:outline-none w-max p-2 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded">
                                <option value="todos"> Todos </option>
                                <option value="normal"> Normal </option>
                                <option value="facturadas"> Guia de despacho </option>
                            </select>
                        </div>
                        <!-- <select (change)="paginaActual = 1" class="bg-white text-sm focus:outline-none w-max p-2 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="cantidadItems">
                            <option value="10"> 10 elementos </option>
                            <option value="20"> 20 elementos </option>
                            <option value="50"> 50 elementos </option>
                            <option value="100"> 100 elementos </option>
                        </select> -->
                  </div>
              </div>


              <!-- Totales -->
              <div class="md:flex md:items-center px-4 text-center md:justify-center"> 
                <div class="font-semibold border-l-8 border-green-500 w-full mt-2 md:mt-0 bg-green-100 text-green-800 text-xs text-center rounded p-2"> Monto total: ${{ montoTotal | moneda }} </div> 
                <div class="font-semibold border-l-8 border-blue-500 w-full mt-2 md:mt-0 bg-blue-100 md:ml-4 text-blue-800 text-xs text-center rounded p-2"> Guia de despacho:  ${{ montoTotalFacturado | moneda }} </div> 
                <div *ngIf="filtro.pedidosYa === 'todos' || filtro.pedidosYa === 'SinPedidosYa'" class="font-semibold border-l-8 border-red-500 w-full mt-2 md:mt-0 bg-red-100 md:ml-4 text-red-800 text-xs text-center rounded mr-2 md:mr-0 p-2"> PedidosYa:  ${{ montoTotalPedidosYa | moneda }} </div> 
                <div *ngIf="filtro.pedidosYa === 'PedidosYa'" class="font-semibold border-l-8 border-red-500 w-full mt-2 md:mt-0 bg-red-100 md:ml-4 text-red-800 text-xs text-center rounded mr-2 md:mr-0 p-2"> PedidosYa:  ${{ montoTotalPedidosYa | moneda }} </div> 
                <div *ngIf="filtro.pedidosYa === 'PedidosYa - App'" class="font-semibold border-l-8 border-yellow-500 w-full mt-2 md:mt-0 bg-yellow-100 md:ml-4 text-yellow-700 text-xs text-center rounded mr-2 md:mr-0 p-2"> PedidosYa - Online:  ${{ montoTotalPedidosYaApp | moneda }} </div>     
                <div *ngIf="filtro.pedidosYa === 'PedidosYa - Efectivo'" class="font-semibold border-l-8 border-orange-500 w-full mt-2 md:mt-0 bg-orange-100 md:ml-4 text-orange-700 text-xs text-center rounded mr-2 md:mr-0 p-2"> PedidosYa - Efectivo:  ${{ montoTotalPedidosYaEfectivo | moneda }} </div>     
              </div>

              <!-- Tabla de ventas -->
              <div class="px-4 py-2 mt-2 overflow-x-auto">
                  <div class="inline-block max-h-96 overflow-y-auto min-w-full overflow-hidden pb-5">
                      <table class="min-w-full leading-normal">
                          <thead>
                              <tr class="border">
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('createdAt')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span> Fecha </span>
                                          <span class="ml-2 text-gray-600">    
                                              <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'createdAt' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'createdAt'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('precio_total')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                          <span>
                                              Monto total                                              
                                          </span>
                                          <span class="ml-2">
                                              <svg *ngIf="ordenar.columna == 'precio_total' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'precio_total' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'precio_total'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                    <div class="w-max flex items-center justify-center focus:outline-none">
                                        <span>
                                            Características                                             
                                        </span>
                                    </div>
                                </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('creatorUser')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                        <span>
                                            Usuario creador                                             
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'creatorUser' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'creatorUser' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'creatorUser'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                  </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 flex items-center justify-center text-sm font-semibold text-gray-900 tracking-wider">
                                    <p class="w-max text-center flex items-center justify-center focus:outline-none">
                                      <span class="mx-auto">
                                        Acciones                                            
                                      </span>
                                    </p>
                                  </th>
                              </tr>
                          </thead>
                          <tbody *ngIf="ventas">
                              <tr [ngClass]="{'bg-blue-50': (venta.forma_pago[0].descripcion  === 'Débito' || venta.forma_pago[0].descripcion  === 'Crédito' || venta.forma_pago[0].descripcion  === 'Mercado pago') && venta.comprobante === 'Normal' && venta.forma_pago.length === 1}" class="animate__animated animate__fadeIn" *ngFor="let venta of ventas | filtroVentas:filtro.parametro:filtro.pedidosYa:filtro.facturacion">
                                  <td class="px-5 py-3 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 w-max whitespace-no-wrap">
                                          {{ venta.createdAt | fecha }}
                                      </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 whitespace-no-wrap">
                                          ${{ venta.precio_total | moneda }}
                                      </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <div class="flex items-center">
                                        <div [ngClass]="{'bg-blue-100 text-blue-800 border-blue-300':venta.comprobante === 'Fiscal'}" class="text-gray-900 w-max border border-gray-300 font-semibold bg-gray-100 p-1 rounded whitespace-no-wrap">
                                            {{ venta.comprobante !== 'Fiscal' ? venta.comprobante : 'Guia de despacho' }}
                                        </div>
                                        <div [ngClass]="{'bg-orange-100 text-orange-700 border-orange-300':venta.forma_pago[0].descripcion === 'PedidosYa - Efectivo', 'bg-yellow-100 text-yellow-700 border-yellow-300':venta.forma_pago[0].descripcion === 'PedidosYa'}" *ngIf="venta.forma_pago[0].descripcion === 'PedidosYa' || venta.forma_pago[0].descripcion === 'PedidosYa - Efectivo'" class="p-1 ml-2 w-max border rounded font-semibold">
                                            PedidosYA - #{{ venta.pedidosya_comprobante }}
                                        </div>
                                    </div>
                                </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap capitalize">
                                        {{ venta.creatorUser.apellido.toLowerCase() }} {{ venta.creatorUser.nombre.toLowerCase() }} 
                                    </p>
                                  </td>
                                  <td class="px-5 py-2 border-b flex items-center justify-center border-gray-200 text-xs text-center">
                                    <p class="flex items-center justify-center text-gray-900 whitespace-no-wrap">
                                        <app-boton-tabla (click)="abrirModalDetalles(venta)" title="Detalles de venta">
                                          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
                                          </svg>
                                        </app-boton-tabla>
                                        <app-boton-tabla (click)="comprobanteElectronico(venta)" class="ml-2" title="Imprimir comprobante">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
                                            </svg>
                                        </app-boton-tabla>
                                    </p>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <!-- <div *ngIf="ventas.length > cantidadItems" class="px-5 py-5 mt-4 bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
              <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="paginaActual = $event"></pagination-controls>
          </div> -->
      </div>
    </app-tarjeta-lista>
</div>

