<div class="p-4 max-w-6xl mx-auto">

  <!-- Barra superior -->

  <div class="bg-primary-800 rounded flex items-center justify-between p-4">
    <h1 class="text-white text-2xl"> Generando venta </h1>
    <div>
      <button title="Ventas del dia" class="p-2 border focus:outline-none hover:text-secondaryColor border-gray-300 bg-gray-100 rounded shadow">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
        </svg>
      </button>
    </div>
  </div>


  <!-- Cuerpo de la seccion -->

  <div class="flex mt-2">
    
    <div class="w-1/2 h-full">
     
      <div class="border border-gray-300 rounded-t shadow text-center">
        <div class="flex items-center justify-between rounded-t bg-primary-800 p-2">
          <h1 class="text-xl text-white"> Ingresando producto </h1>
          <div>
            <button title="Modo código" class="border border-gray-300 rounded p-2 focus:outline-none bg-gray-100 hover:text-secondaryColor">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v1m6 11h2m-6 0h-2v4m0-11v3m0 0h.01M12 12h4.01M16 20h4M4 12h4m12 0h.01M5 8h2a1 1 0 001-1V5a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1zm12 0h2a1 1 0 001-1V5a1 1 0 00-1-1h-2a1 1 0 00-1 1v2a1 1 0 001 1zM5 20h2a1 1 0 001-1v-2a1 1 0 00-1-1H5a1 1 0 00-1 1v2a1 1 0 001 1z" />
              </svg> 
            </button>
            <button title="Modo buscador" class="border border-gray-300 rounded p-2 ml-2 focus:outline-none bg-gray-100 hover:text-secondaryColor">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10 21h7a2 2 0 002-2V9.414a1 1 0 00-.293-.707l-5.414-5.414A1 1 0 0012.586 3H7a2 2 0 00-2 2v11m0 5l4.879-4.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242z" />
              </svg>  
            </button>
          </div>
        </div>
        <div class="p-5">
          <input (keyup.enter)="productoPorCodigo()" [(ngModel)]="codigo" type="text" placeholder="Código de producto" class="p-2 border text-sm focus:outline-none w-1/2 text-center broder-gray-300 shadow">
          <button (click)="productoPorCodigo()" class="ml-4 focus:outline-none bg-secondaryColor text-sm text-white p-2 rounded shadow"> Agregar producto </button>
        </div>
      </div>  

      <div *ngIf="productoActual" class="border border-gray-300 rounded-t shadow mt-4">
        <div class="bg-primary-800 text-xl p-4 rounded-t">
          <h1 class="text-white"> Ultimo producto ingresado </h1>
        </div>
        <div class="bg-white p-2">
          <p class="text-2xl font-semibold"> {{ productoActual.descripcion }} </p>
          <p class="text-gray-500 text-sm"> {{ productoActual.codigo }} </p>
          <p class="text-sm mt-2"> Cantidad: 1 ({{ productoActual.unidad_medida.descripcion }}) </p>
          <p class="text-xl mt-4 font-semibold"> ${{ productoActual.precio | moneda }} </p>
        </div>
      </div>

    </div>
    <div *ngIf="productos.length > 0" class="border border-gray-300 shadow rounded-t ml-4 w-1/2 h-full">
      <div class="bg-primary-800 rounded-t text-white p-3">
        <h1 class="text-2xl"> Listado de productos </h1>
      </div>
      <div class="p-2">
        <div *ngFor="let producto of productos" class="border border-gray-300 rounded mt-2 p-2 text-sm">
          <p class="font-semibold text-lg"> {{ producto.productoTMP.descripcion }} </p>
          <p class="text-gray-500" *ngIf="producto.productoTMP.codigo.trim() !== ''"> {{ producto.productoTMP.codigo }}  </p>
          <p class="mt-2"> Cantidad: {{ producto.cantidad }} ({{ producto.unidad_medida }}) </p>
          <p class="text-xl mt-4 font-semibold">  ${{ producto.precio | moneda }} </p>
        </div>
      </div>
    </div>
  </div>
</div>