
<div class="gsap-contenido">

    <!-- FILTROS -->
    <div *ngIf="authService.usuario.role === 'ADMIN_ROLE' || (authService.usuario.role === 'USER_ROLE' && authService.usuario.permisos.includes('MAYORISTAS_ALL'))" class="mx-auto max-w-xl w-11/12">
     
      <div (click)="showFiltros = !showFiltros" class="bg-primary-800 w-full cursor-pointer flex items-center justify-between p-2 rounded-t mt-4 md:mt-10 text-center text-white">
        <h1> 
          Reporte de paquetes
        </h1>
        <button class="focus:outline-none">
          <svg *ngIf="showFiltros" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg> 
          <svg *ngIf="!showFiltros"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
          </svg>          
        </button>
      </div>
     
      <div *ngIf="showFiltros" class="text-sm border shadow border-gray-400 p-2">
        <div class="md:flex md:items-center">
          <div class="md:w-1/2">
            <p class="font-semibold"> Fecha desde </p>
            <input [(ngModel)]="fechaDesde" type="date" class="border mt-1 focus:outline-none border-gray-400 p-2 rounded w-full">
          </div>
          <div class="md:w-1/2 md:ml-2 mt-2 md:mt-0">
            <p class="font-semibold"> Fecha hasta </p>
            <input [(ngModel)]="fechaHasta" type="date" class="border mt-1 focus:outline-none border-gray-400 p-2 rounded w-full">
          </div>
        </div>
        <div class="mt-2">
          <p class="font-semibold"> Repartidor </p>
          <select [(ngModel)]="repartidor" class="border mt-1 focus:outline-none border-gray-400 p-2 rounded w-full">
            <option value=""> Todos los repartidores </option>
            <option *ngFor="let repartidor of repartidores" [value]="repartidor._id"> {{ repartidor.apellido }} {{ repartidor.nombre }} </option>
          </select>
        </div>
        <div class="mt-2">
          <p class="font-semibold"> Estado de paquete </p>
          <select [(ngModel)]="estado" class="border mt-1 focus:outline-none border-gray-400 p-2 rounded w-full">
            <option value=""> Todos los estados </option>
            <option value='Pendiente'> Pedientes </option>
            <option value='Enviado'> Enviados </option>
            <option value='Deuda'> Deudas </option>
            <option value='Completado'> Completados </option>
          </select>
        </div>
        <button (click)="listarPaquetes()" class="bg-gray-100 focus:outline-none border border-gray-400 p-2 rounded w-full font-semibold mt-3 hover:text-secondaryColor">
          Buscar paquetes
        </button>
      </div>
    </div>

    <div *ngIf="authService.usuario.role === 'DELIVERY_ROLE' || (authService.usuario.role === 'USER_ROLE' && !authService.usuario.permisos.includes('MAYORISTAS_ALL'))" class="mx-auto w-11/12">
      <img class="mt-10 mx-auto" src="assets/img/not_access.svg" alt="No se tiene permisos">
      <h1 class="mt-5 text-center md:text-lg"> Usted no tiene permisos para acceder a esta seccion </h1>
    </div>

    <!-- REPORTE -->
    
    <div *ngIf="paquetes.length > 0" class="mx-auto md:max-w-7xl gsap-contenido">
      <app-tarjeta-lista>
        <div class="container mx-auto">
            <div>
                <div class="flex items-center justify-between bg-primary-800 px-4 py-3 rounded-t">
                    <div class="ml-2 text-white">
                        <h2 class="text-2xl leading-tight">
                          Listado de paquetes
                        </h2>
                        <p> Total de paquetes: {{ totalItems }} </p>
                    </div>
                </div>
                <div class="md:flex px-4 py-2 md:items-center text-sm md:justify-between">
                    <div class="text-sm mt-3 md:flex md:items-center pb-4"> 
                        <div class="border border-gray-400">
                            <div class="p-2 border-l-8 border-gray-400">
                                <span class="font-semibold">
                                    Total ventas:
                                </span>
                                 ${{ totales.precio_total | moneda }} 
                            </div> 
                        </div>
                        <div class="mt-2 md:mt-0 md:ml-2 border border-gray-400">
                            <div class="p-2 border-l-8 border-green-700">
                                <span class="font-semibold">
                                    Total cobrado:
                                </span>
                                 ${{ (totales.precio_total - totales.total_deuda) | moneda }} 
                            </div> 
                        </div>
                        <div class="mt-2 md:mt-0 md:ml-2 border border-gray-400">
                            <div class="p-2 border-l-8 border-red-700">
                                <span class="font-semibold">
                                    Total deuda:
                                </span>
                                 ${{ totales.total_deuda | moneda }} 
                            </div> 
                        </div>
                    </div>  
                  <select (change)="cambiarPagina(1)" class="bg-white text-sm focus:outline-none w-max p-2 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="cantidadItems">
                      <option value="10"> 10 elementos </option>
                      <option value="20"> 20 elementos </option>
                      <option value="50"> 50 elementos </option>
                      <option value="100"> 100 elementos </option>
                  </select>  
                </div>
                <div  class="px-4 py-2 overflow-x-auto">  
                    <div class="inline-block max-h-96 overflow-y-auto min-w-full overflow-hidden pb-5">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr class="border">
                                    <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('fecha_pedido')" class="cursor-pointer w-max flex items-center focus:outline-none">
                                            <span> Fecha de pedido </span>
                                            <span class="ml-2 text-gray-600">    
                                                <svg *ngIf="ordenar.columna == 'fecha_pedido' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'fecha_pedido' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'fecha_pedido'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('numero')" class="cursor-pointer flex items-center justify-center focus:outline-none">
                                            <span> Número </span>
                                            <span class="ml-2 text-gray-600">    
                                                <svg *ngIf="ordenar.columna == 'numero' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'numero' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'numero'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('mayorista.descripcion')" class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Mayorista </span>
                                            <span class="ml-2 text-gray-600">    
                                                <svg *ngIf="ordenar.columna == 'mayorista.descripcion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'mayorista.descripcion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'mayorista.descripcion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('cantidad_pedidos')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span> Pedidos </span>
                                          <span class="ml-2 text-gray-600">    
                                              <svg *ngIf="ordenar.columna == 'cantidad_pedidos' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'cantidad_pedidos' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'cantidad_pedidos'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                    <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('mayorista.activo')" class="cursor-pointer flex items-center focus:outline-none">
                                            <span> Estado </span>
                                            <span class="ml-2 text-gray-600">    
                                                <svg *ngIf="ordenar.columna == 'mayorista.activo' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'mayorista.activo' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'mayorista.activo'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                        <div (click)="ordenarPorColumna('precio_total')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                            <span>
                                                Precio total                                               
                                            </span>
                                            <span class="ml-2">
                                                <svg *ngIf="ordenar.columna == 'precio_total' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                                <svg *ngIf="ordenar.columna == 'precio_total' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                                <svg *ngIf="ordenar.columna != 'precio_total'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                            </span>
                                        </div>
                                    </th>
                                    <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                        Accion                                              
                                    </th>
                                </tr>
                            </thead>
                            <tbody *ngIf="paquetes">
                                <tr class="animate__animated animate__fadeIn" *ngFor="let paquete of paquetes | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual, totalItems: totalItems}">
                                    <td class="px-5 py-4 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ paquete.fecha_paquete | fecha }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-4 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 text-center whitespace-no-wrap">
                                            {{ paquete.numero }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-4 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 w-max whitespace-no-wrap">
                                            {{ paquete.repartidor.apellido }} {{ paquete.repartidor.nombre }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-4 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 w-max whitespace-no-wrap">
                                        {{ paquete.cantidad_pedidos }}
                                      </p>
                                  </td>
                                    <td class="px-5 py-4 border-b border-gray-200 w-max text-xs">
                                        <div class="flex items-center">
                                            <span [ngClass]="{'bg-yellow-100 border-yellow-300 text-yellow-700': paquete.estado === 'Pendiente', 'bg-green-100 border-green-300 text-green-700': paquete.estado === 'Completado', 'bg-orange-100 border-orange-300 text-orange-700': paquete.estado === 'Cancelado', 'bg-blue-100 border-blue-300 text-blue-700': paquete.estado === 'Enviado', 'bg-red-100 border-red-300 text-red-700': paquete.estado === 'Deuda'}" class="text-gray-900 font-semibold p-1 rounded border w-max whitespace-no-wrap">
                                                {{ paquete.estado }}
                                            </span>
                                        </div>
                                    </td>
                                    <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            ${{ paquete.precio_total | moneda }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-3 flex items-center justify-center border-b border-gray-200 text-xs text-center">
                                      <span class="flex items-center justify-center ml-2 text-gray-900 whitespace-no-wrap">
                                          <app-boton-tabla [routerLink]="['/dashboard/paquetes/detalles/',paquete._id,'reportes-paquetes']" title="Detalles del paquete">
                                              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                  <path stroke-linecap="round" stroke-linejoin="round" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
                                              </svg>
                                          </app-boton-tabla>
                                      </span>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="px-5 py-5 mt-4 text-sm bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
              <pagination-controls nextLabel="Siguiente" previousLabel="Anterior" (pageChange)="cambiarPagina($event)"></pagination-controls>
            </div>
        </div>         
      </app-tarjeta-lista>
    </div>
    
    <div *ngIf="paquetes.length === 0 && inicio === false" class="mx-auto mt-5 text-center text-xl md:max-w-7xl gsap-contenido">
        <p> No se encontraron resultados </p>
        <p class="text-sm"t> Intente nuevamente </p>
    </div> 

</div>
