<!-- Modal: Crear / Editar ingreso -->
<app-modal [showModal]="showModalIngreso">
  <div (keyup.enter)="estadoFormulario === 'crear' ? nuevoIngreso() : actualizarIngreso()">
      <div class="flex items-center justify-between bg-primary-800 rounded-t p-2">
          <h1 class=" text-white px-2 py-1 rounded-t text-lg"> {{ estadoFormulario == 'crear' ? 'Creando ingreso' : 'Editando ingreso' }} </h1>
          <svg (click)="showModalIngreso = false" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-x text-white mr-2"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
      </div>
      <div class="p-4 text-sm">
          <div class="md:flex md:items-center">
            <div class="md:w-1/2">
              <p class="font-semibold"> <span class="text-red-500"> * </span> Tipo de ingreso </p>
              <select [(ngModel)]="tipo" class="w-full border mt-2 border-gray-400 rounded p-2 focus:outline-none">
                <option value=""> Seleccionar tipo </option>
                <option *ngFor="let tipo of tipos" [value]="tipo._id"> {{ tipo.descripcion }} </option>
              </select>
            </div>
            <div class="md:w-1/2 md:ml-2 mt-2 md:mt-0">
              <p class="font-semibold"> <span class="text-red-500"> * </span> Repartidor </p>
              <select [(ngModel)]="repartidor" class="w-full border mt-2 border-gray-400 rounded p-2 focus:outline-none">
                <option value=""> Seleccionar Repartidor </option>
                <option *ngFor="let repartidor of repartidores" [value]="repartidor._id"> {{ repartidor.apellido }} {{ repartidor.nombre }} </option>
              </select>
            </div>
          </div>
          <div class="md:flex md:items-center mt-2">
            <div class="md:w-1/2">
              <p class="font-semibold"> <span class="text-red-500"> * </span> Monto </p>
              <input [(ngModel)]="monto" placeholder="Ej. 1500" type="number" class="w-full border mt-2 border-gray-400 rounded p-2 focus:outline-none">
            </div>
            <div class="md:w-1/2 md:ml-2 mt-2 md:mt-0">
            </div>
          </div>
          <div *ngIf="ingresoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
            <div class="xl:w-1/2">
                <p class="font-semibold text-sm"> Fecha de alta </p>
                <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ ingresoSeleccionado.createdAt | fecha }}
                </div>
            </div>
            <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                <p class="font-semibold text-sm"> Usuario creador </p>
                <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ ingresoSeleccionado.creatorUser.apellido.toLowerCase() }} {{ ingresoSeleccionado.creatorUser.nombre.toLowerCase() }}
                </div>
            </div>
        </div> 
        <div *ngIf="ingresoSeleccionado && estadoFormulario === 'editar'" class="xl:flex items-center mt-4">
            <div class="xl:w-1/2">
                <p class="font-semibold text-sm"> Ultima actualización </p>
                <div class="border text-sm mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ ingresoSeleccionado.updatedAt | fecha }}
                </div>
            </div>
            <div class="xl:ml-4 xl:w-1/2 mt-4 xl:mt-0">
                <p class="font-semibold text-sm"> Usuario ultima actualización </p>
                <div class="border text-sm capitalize mt-2 border-gray-300 rounded p-2 bg-gray-100">
                    {{ ingresoSeleccionado.updatorUser.apellido.toLowerCase() }} {{ ingresoSeleccionado.updatorUser.nombre.toLowerCase() }}
                </div>
            </div>
        </div>   
          <button *ngIf="estadoFormulario == 'crear'" (click)="nuevoIngreso()" class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Crear ingreso </button>
          <button *ngIf="estadoFormulario == 'editar'" (click)="actualizarIngreso()" class="bg-gray-100 focus:outline-none hover:text-secondaryColor shadow text-gray-800 w-full border border-gray-300 font-semibold p-2 rounded mt-4"> Actualizar ingreso </button>
      </div>
  </div>
</app-modal>

<!-- Listado de ingresos -->
<div class="md:max-w-7xl mx-auto">

    <!-- No se tiene permisos para acceder a la seccion -->
    <div class="mx-auto gsap-contenido w-11/12">
      <div *ngIf="authService.usuario.role === 'DELIVERY_ROLE' || (authService.usuario.role === 'USER_ROLE' && !authService.usuario.permisos.includes('MAYORISTAS_ALL'))">
        <img class="mt-10 mx-auto" src="assets/img/not_access.svg" alt="No se tiene permisos">
        <h1 class="mt-5 text-center md:text-lg"> Usted no tiene permisos para acceder a esta seccion </h1>
      </div>
    </div>

    <app-tarjeta-lista *ngIf="authService.usuario.role === 'ADMIN_ROLE' || (authService.usuario.role === 'USER_ROLE' && authService.usuario.permisos.includes('MAYORISTAS_ALL'))">
      <div class="container mx-auto">
          <div>
              <div class="flex items-center justify-between bg-primary-800 px-4 py-3 rounded-t">
                  <div class="ml-2 text-white">
                      <h2 class="text-2xl leading-tight">
                          Listado de ingresos
                      </h2>
                      <p> Total de ingresos: {{ totalItems }} </p>
                  </div>
                  <div>
                  </div>
              </div>
              <div class="md:flex md:items-center md:justify-between px-2 py-2">
                  <div class="my-2 flex sm:flex-row flex-col">
                      <select (change)="cambiarPagina(1)" class="bg-white text-sm focus:outline-none p-2 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="filtro.repartidor">
                        <option value=""> Todos los repartidores </option>
                        <option *ngFor="let repartidor of repartidores" [value]="repartidor._id"> {{ repartidor.apellido }} {{ repartidor.nombre }} </option>
                      </select> 
                      <select (change)="cambiarPagina(1)" class="bg-white text-sm focus:outline-none p-2 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="filtro.tipo_ingreso">
                        <option value=""> Todos los tipos </option>
                        <option *ngFor="let tipo of tipos" [value]="tipo._id"> {{ tipo.descripcion }} </option>
                      </select> 
                      <select (change)="cambiarPagina(1)" class="bg-white text-sm focus:outline-none p-2 md:ml-2 mt-2 md:mt-0 border text-gray-600 border-gray-400 rounded" [(ngModel)]="cantidadItems">
                        <option value="10"> 10 elementos </option>
                        <option value="20"> 20 elementos </option>
                        <option value="50"> 50 elementos </option>
                        <option value="100"> 100 elementos </option>
                    </select>
                  </div>
              </div>
              <div class="flex items-center px-2 mb-2">
                <input type="date" (change)="cambiarPagina(1)" [(ngModel)]="filtro.fecha_desde" class="bg-white w-1/2 md:w-auto text-sm focus:outline-none p-2 md:ml-2 md:mt-0 border text-gray-600 border-gray-400 rounded">
                <input type="date" (change)="cambiarPagina(1)" [(ngModel)]="filtro.fecha_hasta" class="bg-white  w-1/2 md:w-auto text-sm focus:outline-none p-2 ml-2 md:mt-0 border text-gray-600 border-gray-400 rounded">
              </div>
              <div class="mx-2 md:mx-4 mt-4 text-sm border border-gray-400 w-max"> 
                <div class="border-l-8 border-green-700 p-2">
                    <span class="font-semibold"> Ingresos totales: </span> ${{ montoTotal | moneda }} 
                </div>
              </div>
              <div class="px-2 md:px-4 py-2 mt-2 overflow-x-auto">
                  <div class="inline-block max-h-96 overflow-y-auto min-w-full overflow-hidden pb-5">
                      <table class="min-w-full leading-normal">
                          <thead>
                                <tr class="border">
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('fecha_ingreso')" class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                        <span>
                                            Fecha de ingreso                                            
                                        </span>
                                        <span class="ml-2">
                                            <svg *ngIf="ordenar.columna == 'fecha_ingreso' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'fecha_ingreso' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'fecha_ingreso'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                      <div (click)="ordenarPorColumna('repartidor.apellido')" class="cursor-pointer flex items-center focus:outline-none">
                                          <span> Repartidor </span>
                                          <span class="ml-2 text-gray-600">    
                                              <svg *ngIf="ordenar.columna == 'repartidor.apellido' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                              <svg *ngIf="ordenar.columna == 'repartidor.apellido' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                              <svg *ngIf="ordenar.columna != 'repartidor.apellido'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                          </span>
                                      </div>
                                  </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('paquete.numero')" class="cursor-pointer flex items-center focus:outline-none">
                                        <span> Paquete </span>
                                        <span class="ml-2 text-gray-600">    
                                            <svg *ngIf="ordenar.columna == 'paquete.numero' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'paquete.numero' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'paquete.numero'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('tipo_ingreso.descripcion')" class="cursor-pointer w-max flex items-center focus:outline-none">
                                        <span> Tipo de ingreso </span>
                                        <span class="ml-2 text-gray-600">    
                                            <svg *ngIf="ordenar.columna == 'tipo_ingreso.descripcion' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'tipo_ingreso.descripcion' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'tipo_ingreso.descripcion'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                  </th>
                                  <th class="px-5 py-2 border-b-2 border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-900 tracking-wider">
                                    <div (click)="ordenarPorColumna('monto')" class="cursor-pointer flex items-center focus:outline-none">
                                        <span> Monto </span>
                                        <span class="ml-2 text-gray-600">    
                                            <svg *ngIf="ordenar.columna == 'monto' && ordenar.direccion == 1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>                                   
                                            <svg *ngIf="ordenar.columna == 'monto' && ordenar.direccion == -1" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                                            <svg *ngIf="ordenar.columna != 'monto'" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                                        </span>
                                    </div>
                                  </th>
                                  <th class="px-5 border-b-2 border-gray-200 bg-gray-100 text-sm font-semibold text-gray-900 tracking-wider">
                                    <div class="cursor-pointer w-max flex items-center justify-center focus:outline-none">
                                        <span>
                                            Accion                                             
                                        </span>
                                    </div>
                                  </th>  
                              </tr>
                          </thead>
                          <tbody *ngIf="ingresos">
                              <tr class="animate__animated animate__fadeIn" *ngFor="let ingreso of ingresos | paginate: {itemsPerPage: cantidadItems, currentPage: paginaActual, totalItems: totalItems}">
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        {{ ingreso.fecha_ingreso | fecha }}
                                    </p>
                                  </td>  
                                  <td class="px-5 py-3 border-b border-gray-200 text-xs">
                                      <p class="text-gray-900 w-max whitespace-no-wrap">
                                          {{ ingreso.repartidor.apellido }} {{ ingreso.repartidor._id !== '000000000000000000000000' ? ingreso.repartidor.nombre : null }}
                                      </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 w-max whitespace-no-wrap">
                                        {{ ingreso.paquete.numero }}
                                    </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 w-max whitespace-no-wrap">
                                        {{ ingreso.tipo_ingreso.descripcion }}
                                    </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <p class="text-gray-900 w-max whitespace-no-wrap">
                                        ${{ ingreso.monto | moneda }}
                                    </p>
                                  </td>
                                  <td class="px-5 py-2 border-b border-gray-200 text-xs">
                                    <app-boton-tabla [routerLink]="['/dashboard/paquetes/detalles/',ingreso.paquete._id,'listado-gastos']" title="Ir al paquete">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                          </svg>
                                    </app-boton-tabla>  
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
          <div class="px-5 py-5 mt-4 text-sm bg-white border-t flex shadow flex-col xs:flex-row items-center xs:justify-between">
            <pagination-controls nextLabel="Siguiente" previousLabel="Anterior"  (pageChange)="cambiarPagina($event)"></pagination-controls>
        </div>
      </div>
    </app-tarjeta-lista>
</div>



